{% extends 'layout.html' %}

{% load static %}


{% block content %}
    <div class="p-5 text-center mb-5">
        <a href="{% url 'homepage' %}"><img class="logo flipped" src="{% static 'images/toucon.svg' %}"></a>
        <h2 class="mt-4 text-danger">403 Forbidden</h2>
        {% if messages %}
            <ul class="mt-3 list-unstyled">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <small class="text-secondary">Did we miss something? <a href="mailto:support@toucon.net">Contact us</a> if you were hoping to have access to this page.</small>
    </div>
{% endblock %}
