.DS_Store
._*

# Coding helper files

.copilot
.vscode

# Python

.python-version
.venv

__pycache__
*.py[cod]
*$py.class
.mypy_cache
.ruff_cache

.coverage_py
.env
.pytest_cache
dev.db
htmlcov
test-reports

# Vue / TypeScript

.coverage_ts
.quasar
.vite
node_modules
vue/dist

# Other

cloc.md
TODO.md
