[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[packages]
commonmark = "*"
coreapi = "*"
django = {extras = ["bcrypt"], version = "*"}
djangorestframework = "*"
django-allauth = "*"
django-compressor = "*"
django-cors-headers = "*"
django-countries = "*"
django-dnt = "*"
django-libsass = "*"
django-recaptcha = "*"
django-storages = {extras = ["s3"], version = "*"}
django-vite = "*"
drf-writable-nested = "*"
gevent = "*"
gunicorn = "*"
hiredis = "*"
huey = "*"
inertia-django = "*"
mysqlclient = "*"
openpyxl = "*"
pillow = "*"
pypdf2 = "*"
redis = "*"
reportlab = "*"
requests = "*"
sentry-sdk = {extras = ["django"], version = "*"}
stripe = "*"
svglib = "*"
tld = "*"
tzdata = "*"
whitenoise = "*"

[dev-packages]
django-debug-toolbar = "*"
maya = "*"
model-bakery = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
ruff = "*"
