{% extends 'layout_simple.html' %}

{% load static %}


{% block page %}
  <div class="row q-mx-lg">
    <div class="col-12 col-md-7 col-lg-6 q-mb-lg">
      <div class="q-mt-xl q-mb-lg">
        <a href="{% url 'homepage' %}">
          <evan-logo></evan-logo>
        </a>
      </div>
      <q-card flat class="q-pa-lg">
        {% block content %}{% endblock %}
      </q-card>
    </div>
  </div>
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'js/components/django.js' %}"></script>
{% endblock %}
