{% extends 'account/base.html' %}

{% load account %}
{% load crispy_forms_tags %}


{% block head_title %}Reset your password - {{ block.super }}{% endblock %}

{% block content %}
    <h4 class="mb-4">Reset your password</h4>

    {% if user.is_authenticated %}
        {% include 'account/snippets/already_logged_in.html' %}
    {% endif %}

    <p>Enter your email address and we will send you a link to reset your password.</p>
    <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-outline-primary mt-2">Send reset instructions</button>
    </form>
    <hr class="mt-5">
    <p class="m-0 text-sm">
        <i class="material-icons mr-2">alternate_email</i>
        <span><a href="mailto:{{ CONTACT_EMAIL }}">Contact us</a> if you have problems resetting your password.</span>
    </p>
{% endblock %}
