<script type="text/x-template" id="{{ id }}">
{% verbatim %}
    <div v-cloak v-if="event" class="bg-lighter p-4">
        <div v-if="session">
            <h4 class="text-secondary mb-4">Session on {{ session.day }}<br><em>{{ session.title }}</em></h4>
            <div class="row">
                <div class="col-12 col-md-4 form-group">
                    <label>Date <small class="text-danger">*</small></label>
                    <input v-model="session.date" @input="update(session)" type="text" class="form-control" placeholder="YYYY-MM-DD">
                </div>
                <div class="col-6 col-md-4 form-group">
                    <label>Starting time <small class="text-danger">*</small></label>
                    <input v-model="session.start_at" @input="update(session)" type="text" class="form-control" placeholder="hh:mm">
                </div>
                <div class="col-6 col-md-4 form-group">
                    <label>Ending time <small class="text-danger">*</small></label>
                    <input v-model="session.end_at" @input="update(session)" type="text" class="form-control" placeholder="hh:mm">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 form-group">
                    <label>Room</label>
                    <select v-model="session.room" @change="update(session)" class="form-control">
                        <option :value="null">(unknown)</option>
                        <optgroup v-for="venue in event.venues" :label="venue.name">
                            <option v-for="room in venue.rooms" :value="room.id">{{ room.name }}</option>
                        </optgroup>
                    </select>
                </div>
            </div>

            <hr>
            <label>Invite organizers</label>
            <input type="email" class="form-control" placeholder="Organizer's email">
            <button class="btn btn-sm btn-outline-secondary pointer mt-2">Invite</button>
        </div>
        <div v-else>
            <h1 class="text-warning">404 Not Found</h1>
        </div>
    </div>
{% endverbatim %}
</script>
