{% extends 'email.txt' %}


{% block header %}You are now registered for {{ event_name }}.{% endblock %}

{% block body %}
**Registration number: {{ registration_uuid }}**

You can visit the event page at any time and update your registration information:
https://evan.ugent.be{{ registration_url }}
You can also manage your payment there.

We look forward to seeing you at {{ event_name }}!
{% if visa_requested %}
---------------

We've noticed in your registration form that *you need an invitation letter to apply for a visa*.
To produce this letter, we would need the following information:

- Name and title
- Address and phone number
- Passport number
- Nationality
- Will you present a paper / poster? What is the title of the paper / poster?

As soon as you provide this information, we will send the invitation letter to you.

Please also let us know if the electronic copy is sufficient or if we should send the
original signed letter to you by post.

Please contact <evan@ugent.be> if you have questions regarding your visa application.{% endif %}
{% endblock %}

{% block footer %}{{ event_name }}{% endblock %}
