{% extends 'email.txt' %}


{% block body %}
**Registration number: {{ registration_uuid }}**

Dear {{ user_name }},

You can use this private link (or share it with somebody else) to pay for your
{{ event_name }} registration. The payment will be done online via the Ghent University
secure payment bridge, and we can provide you a receipt afterwards:

https://evan.ugent.be{{ payment_delegated_url }}

Please contact us if you have problems with the payment.
{% endblock %}

{% block footer %}{{ event_name }}{% endblock %}
