{% extends 'layout.html' %}

{% load evan %}
{% load static %}


{% block header %}
  <q-header class="bg-ugent text-white q-pl-sm">
    <q-toolbar>
      <q-btn flat round dense @click="visibleDrawer = !visibleDrawer" icon="menu"></q-btn>
      <q-toolbar-title>
        <evan-logo fill="#ffffff" :width="45"></evan-logo>
      </q-toolbar-title>
      <evan-user-menu username="{{ user }}"></evan-user-menu>
    </q-toolbar>
  </q-header>
{% endblock %}

{% block drawer %}
  <q-drawer show-if-above v-model="visibleDrawer" side="left" :elevated="$q.screen.lt.md" class="bg-grey-1 q-pt-lg q-pl-sm text-weight-medium" :width="250">
    <q-scroll-area class="fit">
      <q-list dense>
        <q-item-label header>Dashboard</q-item-label>
        <q-item clickable tag="a" href="{% url 'dashboard' %}#/registrations/">
          <q-item-section avatar><q-icon name="folder_shared"></q-icon></q-item-section>
          <q-item-section>Your registrations</q-item-section>
        </q-item>
        <q-item clickable tag="a" href="{% url 'dashboard' %}#/events/">
          <q-item-section avatar><q-icon name="widgets"></q-icon></q-item-section>
          <q-item-section>Your events</q-item-section>
        </q-item>
      </q-list>
      <q-list dense>
        <q-item-label header>Account</q-item-label>
        <q-item clickable tag="a" href="{% url 'dashboard' %}#/profile/">
          <q-item-section avatar><q-icon name="account_circle"></q-icon></q-item-section>
          <q-item-section>Your profile</q-item-section>
        </q-item>
        <q-item tag="a" href="{% url 'account_change_password' %}" class="{% active request 'account_change_password,account_set_password' %}">
          <q-item-section avatar><q-icon name="vpn_key"></q-icon></q-item-section>
          <q-item-section>Password</q-item-section>
        </q-item>
        <q-item tag="a" href="{% url 'account_email' %}" class="{% active request 'account_email' %}">
          <q-item-section avatar><q-icon name="mail_outline"></q-icon></q-item-section>
          <q-item-section>Emails</q-item-section>
        </q-item>
        <q-item tag="a" href="{% url 'socialaccount_connections' %}" class="{% active request 'socialaccount_connections' %}">
          <q-item-section avatar><q-icon name="extension"></q-icon></q-item-section>
          <q-item-section>Social accounts</q-item-section>
        </q-item>
      </q-list>
    </q-scroll-area>
  </q-drawer>
{% endblock %}

{% block page %}
  <div class="row q-col-gutter-lg">
    <div class="col-12 col-md-9 col-lg-8 q-mt-lg">
      <q-card flat class="q-px-lg q-pb-lg">
        {% block content %}{% endblock %}
      </q-card>
    </div>
  </div>
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'js/components/django.js' %}"></script>
{% endblock %}
