<script type="text/x-template" id="{{ id }}">
{% verbatim %}
    <div v-cloak v-if="conference" class="bg-lighter p-4">
        <h4 class="text-secondary mb-4">{{ conference.name }} general information</h4>
        <div class="row">
            <div class="col-12 col-md-9">
                <h5 class="mb-3">{{ conference.full_name }}</h5>
                <p><i class="material-icons mr-1">&#xE55F;</i><em>{{ conference.city }}, {{ conference.country.name }}</em></p>
                <div v-html="markedPresentation"></div>
            </div>
            <div class="col-12 col-md-3">
                <p class="mb-0 text-right">
                    <span v-if="conference.website">
                        <a :href="conference.website" target="_blank">
                            <i class="material-icons mr-1">&#xE250;</i>External website</a><br>
                    </span>
                    <span v-if="conference.hashtag">
                        <a :href="'https://twitter.com/search?q=%23' + conference.hashtag" target="_blank">
                            <i class="material-icons mr-1">&#xE8B6;</i>Hashtag: <strong>#{{ conference.hashtag }}</strong></a>
                    </span>
                </p>
            </div>
        </div>
    </div>
{% endverbatim %}
</script>
