<script type="text/x-template" id="{{ id }}">
{% verbatim %}
    <div v-cloak v-if="conference && registration" class="bg-lighter p-4">
        <h4 class="text-secondary mb-4">Registration: <samp>{{ registration.uuid }}</samp></h4>
        <select>
            <option selected>Regular (€620)</option>
            <option>Student (€350)</option>
        </select>
        <div class="form-group">
            <h6 class="mt-4 mb-3">Please select the days you will attend <small class="text-danger">*</small></h6>
            <div v-for="day in conference.days">
                <label><input type="checkbox" v-model="registration.days" :value="day.id" @change="update" class="mr-1">{{ day.name }} ({{ day.date }})</label>
            </div>
        </div>
        <h6 class="mt-4 mb-3">Choose the sessions you would like to attend <small class="text-danger">*</small></h6>
        <div v-for="session in conference.sessions" v-show="selectedDates.indexOf(session.date) !== -1">
            <label><input type="checkbox" v-model="registration.sessions" :value="session.id" @change="update" class="mr-1">{{ session.title }} <a href="#" @click.prevent="$parent.$emit('viewSession', session.id)">more</a></label>
        </div>
    </div>
{% endverbatim %}
</script>
