{% spaceless %}
{% load compress %}
{% load static %}


<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#" data-rev="{{ GIT_REV }}" data-csrf-token="{{ csrf_token }}" data-user="{{ user.id | default:"0" }}">
  <head>
    <link href="//fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600|Material+Icons" type="text/css" rel="stylesheet">
    {% compress css file base %}
      <link href="{% static 'vendor/quasar@1.13.2/quasar.min.css' %}" type="text/css" rel="stylesheet">
      <link href="{% static 'scss/base.scss' %}" type="text/x-scss" rel="stylesheet">
      <link href="{% static 'css/flags.css' %}" type="text/css" rel="stylesheet">
    {% endcompress %}
    {% block styles %}{% endblock %}
    <title>{% block head_title %}Evan - Ghent University{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:site_name" content="Evan">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    {% if request.DNT %}
      <meta name="twitter:dnt" content="on">
    {% endif %}
    {% block structured_data %}{% endblock %}
    {% if not debug %}
      <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise"></script>
      <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
      <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    {% endif %}
    {% block head_scripts %}{% endblock %}
  </head>
  <body class="bg-grey-1">
    <noscript>
      <div class="p-5 bg-light-yellow text-center mb-5">
        <img class="logo flipped" src="{% static 'images/evan.svg' %}">
        <h2 class="mt-4">No love for JavaScript?</h2>
        <p class="mt-3">Evan requires your browser to have <a href="http://enable-javascript.com/">JavaScript enabled</a>.</p>
      </div>
    </noscript>
    <q-layout id="vue" view="hHh LpR lff" v-cloak>
      {% block header %}{% endblock %}
      {% block drawer %}{% endblock %}
      {% block page_container %}
        <q-page-container>
          <q-page :class="{'q-px-lg': $q.screen.gt.xs}">
            {% if messages %}
              {% for message in messages %}
                <q-banner inline-actions class="bg-yellow-2" role="alert">
                  <span>{{ message }}</span>
                </q-banner>
              {% endfor %}
            {% endif %}
            {% block page %}{% endblock %}
          </q-page>
        </q-page-container>
      {% endblock %}
      <q-footer class="bg-grey-1 text-grey-8 q-pa-xl">
        <div class="row justify-between text-caption">
          <div class="col">
            <p>&copy; 2017-{% now 'Y' %} <a href="https://www.ugent.be/ea/elis/" target="_blank" rel="noopener" class="inherit">Department of Electronics and Information Systems (ELIS), Ghent University</a></p>
          </div>
          <div class="col text-right">
            <div class="q-gutter-x-md">
              <!--<div>
                <a href="{% url 'terms' %}">Terms</a>
              </div>-->
              <a href="{% url 'privacy' %}" class="inherit">Privacy</a>
              <a href="{% url 'disclaimer' %}" class="inherit">Disclaimer</a>
              <a href="mailto:{{ CONTACT_EMAIL }}" class="inherit">
                <i class="material-icons mr-1">alternate_email</i>Contact</a>
            </div>
          </div>
        </div>
      </q-footer>
    </q-layout>
    {% block vue_templates %}{% endblock %}
    {% if not debug %}
      <script src="https://browser.sentry-cdn.com/5.19.2/bundle.min.js" crossorigin="anonymous"></script>
      <script src="https://browser.sentry-cdn.com/5.19.2/vue.min.js" crossorigin="anonymous"></script>
    {% endif %}
    {% compress js file bootstrap %}
        <script src="{% static 'vendor/jquery@3.5.1/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/popper.js@1.16.1/popper.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap@4.5.2/bootstrap.min.js' %}"></script>
    {% endcompress %}
    {% compress js file helpers %}
      <script src="{% static 'vendor/commonmark@0.29.1/commonmark.min.js' %}"></script>
      <script src="{% static 'vendor/moment@2.27.0/moment.min.js' %}"></script>
      <script src="{% static 'js/__init__.js' %}"></script>
      {% if not debug %}
        <script src="{% static 'js/sentry.js' %}"></script>
      {% endif %}
    {% endcompress %}
    {% compress js file helpers2 %}
      <script src="{% static 'vendor/axios@0.20.0/axios.min.js' %}"></script>
      <script src="{% static 'vendor/underscore@1.10.2/underscore.min.js' %}"></script>
    {% endcompress %}
    {% compress js file vue %}
      {% if debug %}
        <script src="{% static 'vendor/vue@2.6.12/vue.js' %}"></script>
        <script src="{% static 'vendor/vuex@3.5.1/vuex.js' %}"></script>
        <script src="{% static 'vendor/vue-router@3.4.3/vue-router.js' %}"></script>
        <script src="{% static 'vendor/quasar@1.13.2/quasar.umd.js' %}"></script>
      {% else %}
        <script src="{% static 'vendor/vue@2.6.12/vue.min.js' %}"></script>
        <script src="{% static 'vendor/vuex@3.5.1/vuex.min.js' %}"></script>
        <script src="{% static 'vendor/vue-router@3.4.3/vue-router.min.js' %}"></script>
        <script src="{% static 'vendor/quasar@1.13.2/quasar.umd.min.js' %}"></script>
      {%endif %}
      <script src="{% static 'js/ajax.js' %}"></script>
      <script src="{% static 'js/helpers.js' %}"></script>
      <script src="{% static 'js/mappers.js' %}"></script>
      <script src="{% static 'js/v-shared.js' %}"></script>
      <script src="{% static 'js/v-q-forms.js' %}"></script>
    {% endcompress %}
    {% block extra_scripts %}{% endblock %}
    {% block scripts %}{% endblock %}
    {% if not debug %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
      {% compress js inline %}
        <script>
          window.addEventListener('load', function() {
            window.cookieconsent.initialise({
              'theme': 'classic',
              'position': 'bottom-right',
              'palette': {
                'popup': {
                  'background': '#1e64c8'
                },
                'button': {
                  'background': '#fff',
                  'text': '#1e64c8'
                }
              }
            });
          });
        </script>
      {% endcompress %}
    {% endif %}
  </body>
</html>


{% endspaceless %}
