{% extends 'layout.html' %}

{% load compress %}
{% load static %}


{% block head_title %}{{ event.code }} - {{ block.super }}{% endblock %}

{% block header %}
  <q-header :bordered="$q.screen.gt.sm" class="bg-grey-1 text-dark q-pl-sm">
    <q-toolbar>
      <q-btn flat round dense @click="visibleDrawer = !visibleDrawer" icon="menu"></q-btn>
      <q-toolbar-title>
        <strong>{{ event.name }}</strong>
      </q-toolbar-title>
      <q-space></q-space>
      <evan-user-menu username="{{ user }}"></evan-user-menu>
    </q-toolbar>
  </q-header>
{% endblock %}

{% block drawer %}
  <q-drawer show-if-above v-model="visibleDrawer" side="left" :elevated="$q.screen.lt.md" class="bg-grey-1 text-weight-medium" :width="250">
    <q-scroll-area v-if="event" class="fit">
      <div class="q-pt-lg q-pb-xl q-pl-sm">
        <q-list :dense="$q.screen.gt.sm">
          <q-item-label header>Overview</q-item-label>
          <q-item clickable :to="{name: 'stats'}">
            <q-item-section avatar><q-icon name="insights"></q-icon></q-item-section>
            <q-item-section>Stats</q-item-section>
          </q-item>
          <q-item clickable :to="{name: 'registrations'}">
            <q-item-section avatar><q-icon name="folder_shared"></q-icon></q-item-section>
            <q-item-section>Registrations</q-item-section>
          </q-item>
          <q-item v-if="event.config.abstracts" clickable :to="{name: 'abstracts'}">
            <q-item-section avatar><q-icon name="topic"></q-icon></q-item-section>
            <q-item-section>Abstracts</q-item-section>
          </q-item>
        </q-list>
        <q-list :dense="$q.screen.gt.sm">
          <q-item-label header>Event management</q-item-label>
          <q-item clickable :to="{name: 'event'}">
            <q-item-section avatar><q-icon name="widgets"></q-icon></q-item-section>
            <q-item-section>Event</q-item-section>
          </q-item>
          <q-item clickable :to="{name: 'dates'}">
            <q-item-section avatar><q-icon name="event"></q-icon></q-item-section>
            <q-item-section>Important dates</q-item-section>
          </q-item>
          <q-item v-if="!event.is_virtual" clickable :to="{name: 'venues'}">
            <q-item-section avatar><q-icon name="pin_drop"></q-icon></q-item-section>
            <q-item-section>Venues & rooms</q-item-section>
          </q-item>
          <q-item clickable :to="{name: 'taxonomy'}">
            <q-item-section avatar><q-icon name="label"></q-icon></q-item-section>
            <q-item-section>Tracks & topics</q-item-section>
          </q-item>
          <q-item clickable :to="{name: 'sessions'}">
            <q-item-section avatar><q-icon name="view_week"></q-icon></q-item-section>
            <q-item-section>Sessions</q-item-section>
          </q-item>
          <q-item clickable :to="{name: 'coupons'}">
            <q-item-section avatar><q-icon name="local_activity"></q-icon></q-item-section>
            <q-item-section>Coupons</q-item-section>
          </q-item>
        </q-list>
        <q-list v-if="event.config.cms" :dense="$q.screen.gt.sm">
          <q-item-label header>Website</q-item-label>
          <q-item clickable :to="{name: 'cms'}">
            <q-item-section avatar><q-icon name="wysiwyg"></q-icon></q-item-section>
            <q-item-section>Contents</q-item-section>
          </q-item>
          <q-item v-if="event.config.sponsors" clickable :to="{name: 'sponsors'}">
            <q-item-section avatar><q-icon name="shield"></q-icon></q-item-section>
            <q-item-section>Sponsors</q-item-section>
          </q-item>
        </q-list>
      </div>
    </q-scroll-area>
  </q-drawer>
{% endblock %}

{% block page %}
  <div id="vars" data-url-user="{% url 'v1:user-detail' user.id %}" data-url-event="{% url 'v1:event-detail' event.code %}" data-url-abstracts="{% url 'v1:abstracts-list' event.code %}" data-url-contents="{% url 'v1:contents-list' event.code %}" data-url-coupons="{% url 'v1:coupons-list' event.code %}" data-url-registrations="{% url 'v1:registrations-list' event.code %}" data-url-sessions="{% url 'v1:sessions-list' event.code %}" data-url-sponsors="{% url 'v1:sponsors-list' event.code %}" data-url-topics="{% url 'v1:topics-list' event.code %}" data-url-tracks="{% url 'v1:tracks-list' event.code %}" data-url-venues="{% url 'v1:venues-list' event.code %}"></div>
  <router-view class="q-pt-lg"></router-view>
  <div class="row q-col-gutter-lg items-stretch q-pt-lg">
    <router-view name="left" class="col-12 col-md-6"></router-view>
    <router-view name="right" class="col-12 col-md-6"></router-view>
  </div>
{% endblock %}

{% block vue_templates %}
  {% include './v-abstracts.html' %}
  {% include './v-cms.html' %}
  {% include './v-coupons.html' %}
  {% include './v-dates.html' %}
  {% include './v-event.html' %}
  {% include './v-registrations.html' %}
  {% include './v-sessions.html' %}
  {% include './v-sponsors.html' %}
  {% include './v-stats.html' %}
  {% include './v-topics.html' %}
  {% include './v-tracks.html' %}
  {% include './v-venues.html' %}
{% endblock %}

{% block scripts %}
{% compress js file app_events %}
  <script src="{% static 'js/components/forms.js' %}"></script>
  <script src="{% static 'js/mixins/event_related.js' %}"></script>
  <script src="{% static 'js/mixins/query.js' %}"></script>
  <script src="{% static 'js/mixins/uploader.js' %}"></script>
  <script type="text/javascript">
    var VARS = document.querySelector('#vars').dataset;

    var Store = Vuex.createStore({
      state: {
        event: null,
        abstracts: [],
        contents: [],
        coupons: [],
        registrations: [],
        sessions: [],
        sponsors: [],
        topics: [],
        tracks: [],
        venues: []
      },
      getters: {
        countries: function (state) {
          if (!state.registrations.length) return [];
          return _.uniq(state.registrations.filter(function (obj) {
            return obj.user.profile.country;
          }).map(function (obj) {
            return {
              slug: slugify(obj.user.profile.country.name).toLowerCase(),
              name: obj.user.profile.country.name
            };
          }), function (obj) {
            return obj.slug;
          }).sort(function (a, b) {
            return Evan.utils.sortText(a.name, b.name);
          });
        },
        stats: function (state) {
          var stats = {};

          _.each(state.registrations, function (obj) {
            _.each(obj._q.split(' '), function (w) {
              if (w.indexOf(':') > -1) {
                if (!_.has(stats, w)) stats[w] = 1;
                else stats[w] += 1;
              }
            });
          });

          return stats;
        },
        topicsSorted: function (state) {
          return state.topics.sort(function (a, b) {
            return Evan.utils.sortText(a.name, b.name);
          });
        },
        tracksSorted: function (state) {
          return state.tracks.sort(function (a, b) {
            return Evan.utils.sortText(a.name, b.name);
          });
        },
        usedCoupons: function (state) {
          if (!state.registrations.length) return new Set();
          return new Set(_.pluck(_.pluck(state.registrations.filter(function (obj) {
            return obj.coupon !== null;
          }), 'coupon'), 'id'));
        }
      },
      mutations: {
        getAbstracts: function (state) {
          Evan.api.request('get', VARS.urlAbstracts).then(function (res) {
            state.abstracts = res.data;
          });
        },
        getContents: function (state) {
          Evan.api.request('get', VARS.urlContents).then(function (res) {
            state.contents = res.data;
          });
        },
        getCoupons: function (state) {
          Evan.api.request('get', VARS.urlCoupons).then(function (res) {
            state.coupons = res.data;
          });
        },
        getEvent: function (state) {
          Evan.api.request('get', VARS.urlEvent).then(function (res) {
            state.event = Evan.map.event(res.data);
            state.sessions = _.clone(state.event.sessions);
            state.sponsors = _.clone(state.event.sponsors);
            state.topics = _.clone(state.event.topics);
            state.tracks = _.clone(state.event.tracks);
            state.venues = _.clone(state.event.venues);
            Quasar.Loading.hide();
          });
        },
        getRegistrations: function (state) {
          var self = this;

          Evan.api.request('get', VARS.urlRegistrations).then(function (res) {
            state.registrations = Object.freeze(res.data.map(function (obj) {
              return Evan.map.registration(obj);
            }));

            setTimeout(function () {
              self.commit('getRegistrations');
            }, 60000);
          });
        },
        update: function (state, payload) {
          if (payload.action == 'add') {
            state[payload.var].push(payload.obj);
          } else if (payload.action == 'update') {
            Object.assign(_.findWhere(state[payload.var], {
              id: payload.obj.id
            }), payload.obj);
          } else if (payload.action == 'remove') {
            state[payload.var] = _.without(state[payload.var], _.findWhere(state[payload.var], {
              id: payload.obj.id
            }));
          }
        },
        updateEvent: function (state, obj) {
          Evan.api.update(obj, function (res) {
            state.event = Evan.map.event(res.data);
          });
        }
      }
    });

    var AbstractsView = {
      template: '#v-abstracts',
      mixins: [QueryMixin, EventRelatedMixin],
      data: function () {
        return {
          table: {
            columns: [
              {
                name: 'view'
              },
              {
                name: 'uuid',
                field: 'uuid',
                sortable: true,
                align: 'left',
                label: 'ID'
              },
              {
                name: 'title',
                field: 'title',
                sortable: true,
                align: 'left',
                label: 'Title'
              }
            ],
            pagination: {
              rowsPerPage: 0,
              sortBy: 'uuid',
              descending: false
            }
          }
        };
      },
      computed: _.extend(
        Vuex.mapState(['event', 'abstracts']), {
      }),
      created: function () {
        this.$store.commit('getAbstracts');
      }
    };

    var CmsView = {
      template: '#v-cms',
      mixins: [EventRelatedMixin, UploaderMixin],
      data: function () {
        return {
          stateVar: 'contents',
          saveEventName: 'evan-save-content',
          //
          table: {
            columns: [
              {
                name: 'edit'
              },
              {
                name: 'key',
                field: 'key',
                sortable: true,
                label: 'Key',
                align: 'left'
              }
            ],
            pagination: {
              rowsPerPage: 0,
              sortBy: 'key',
              descending: false
            }
          }
        };
      },
      computed: _.extend(
        Vuex.mapState(['event', 'contents']), {
        uploadUrl: function () {
          if (!this.tmpObj) return null;
          return this.tmpObj.rel_files;
        },
      }),
      methods: {
        removeFile: function (file) {
          this.tmpObj.files = _.reject(_.clone(this.tmpObj.files), function (f) {
            return f.self == file.self;
          });
          this.updateState();
        },
        updateObj: function (obj) {
          this.tmpObj = obj;
          this.updateState();
        },
        updateState: function () {
          this.$store.commit('update', {var: this.stateVar, action: 'update', obj: _.clone(this.tmpObj)});
        }
      },
      created: function () {
        this.$store.commit('getContents');
      }
    };

    var CouponsView = {
      template: '#v-coupons',
      mixins: [QueryMixin, EventRelatedMixin],
      data: function () {
        return {
          createUrl: VARS.urlCoupons,
          stateVar: 'coupons',
          saveEventName: 'evan-save-coupon',
          //
          table: {
            columns: [
              {
                name: 'edit'
              },
              {
                name: 'code',
                field: 'code',
                sortable: true,
                align: 'left',
                label: 'Code'
              },
              {
                name: 'value',
                field: 'value',
                sortable: true,
                label: 'Value',
                classes:'q-table--col-auto-width',
                format: function (val, row) {
                  return '€ ' + val;
                }
              },
              {
                name: 'notes',
                field: 'notes',
                sortable: true,
                align: 'left',
                label: 'Notes'
              },
              {
                name: 'used',
                align: 'center',
                label: 'Used'
              },
              {
                name: 'remove'
              },
            ],
            pagination: {
              rowsPerPage: 25,
              sortBy: 'notes',
              descending: false
            }
          }
        };
      },
      computed: _.extend(
        Vuex.mapGetters(['usedCoupons']),
        Vuex.mapState(['event', 'coupons']), {
        extendedCoupons: function () {
          var uc = this.usedCoupons;
          return this.coupons.map(function (obj) {
            obj.used = uc.has(obj.id);
            return obj;
          });
        }
      }),
      methods: {
        addObj: function () {
          this.tmpObj = {};
        }
      },
      created: function () {
        this.$store.commit('getCoupons');
      }
    };

    var DatesView = {
      template: '#v-dates',
      data: function () {
        return {
          saveEventName: 'evan-save-date',
          tmpDates: [],
          tmpObj: null,
          formatOptions: [
            {
              label: 'Show full date',
              value: 'date'
            },
            {
              label: 'Show date range',
              value: 'range'
            },
            {
              label: 'Show month only',
              value: 'month'
            },
          ],
          table: {
            columns: [
              {
                name: 'edit'
              },
              {
                name: 'label',
                field: 'label',
                align: 'left',
                label: 'Label'
              },
              {
                name: 'start_date',
                field: 'start_date',
                sortable: true,
                align: 'left',
                label: 'Date',
                classes:'q-table--col-auto-width'
              },
              {
                name: 'end_date',
                field: 'end_date',
                align: 'left',
                label: 'End date',
                classes:'q-table--col-auto-width'
              },
              {
                name: 'format',
                field: 'format',
                align: 'left',
                label: 'Format'
              },
              {
                name: 'remove'
              }
            ],
            pagination: {
              rowsPerPage: 0,
              sortBy: 'start_date',
              descending: false
            }
          }
        };
      },
      computed: _.extend(
        Vuex.mapState(['event']), {
        dates: function () {
          if (!this.event) return [];
          return this.event.custom_data.dates.sort(function (a, b) {
            return Evan.utils.sortText(a.start_date, b.start_date);
          }).map(function (obj, idx) {
            obj.key = idx;
            return obj;
          });
        },
        formatDict: function () {
          return _.indexBy(this.formatOptions, 'value');
        }
      }),
      methods: {
        clearObj: function () {
          this.tmpObj = null;
        },
        addObj: function () {
          this.tmpObj = {
            format: 'month'
          };
        },
        createOrUpdate: function (obj) {
          if (!_.has(obj, 'key')) { this.event.custom_data.dates.push(this.tmpObj); }
          Evan.api.update(this.event, null, 'Dates updated.');
        },
        remove: function (key) {
          var self = this;
          Evan.utils.confirmAction('Are you sure you want to delete this item?', function () {
            self.event.custom_data.dates.splice(key, 1);  // key is idx in this case
            Evan.api.update(self.event, null, 'Dates updated.');
          });
        }
      },
      created: function () {
        EventEmitter.on(this.saveEventName, this.createOrUpdate);
        EventEmitter.on('evan-editor-hide', this.clearObj);
      },
      beforeUnmount: function () {
        EventEmitter.off(this.saveEventName);
        EventEmitter.off('evan-editor-hide');
      }
    };

    var EventView = {
      template: '#v-event',
      computed: _.extend(
        Vuex.mapState(['event']), {
        dates: function () {
          var start = this.event.start;
          var end = this.event.end;

          return (start.isSame(end, 'day'))
            ? start.format('MMMM D, YYYY')
            : ((start.isSame(end, 'month'))
              ? start.format('MMMM D') + '-' +  end.format('D, YYYY')
              : start.format('MMMM D') + ' - ' +  end.format('MMMM D, YYYY')
            );
        },
        open: function () {
          return moment(this.event.registration_start_date).isSameOrBefore(moment(), 'day')
              && moment(this.event.registration_deadline).isAfter();
        }
      }),
      methods: {
        update: function () {
          this.$store.commit('updateEvent', this.event);
        }
      }
    };

    var RegistrationsView = {
      template: '#v-registrations',
      mixins: [QueryMixin, EventRelatedMixin],
      props: ['uuid'],
      data: function () {
        return {
          search: {
            filters: [
              {
                name: 'gender',
                options: ['female', 'male', 'non-binary', 'unknown']
              },
              {
                name: 'paid',
                options: ['yes', 'no']
              },
              {
                name: 'coupon',
                options: ['yes', 'no']
              },
              {
                name: 'invoice.requested',
                options: ['yes', 'no']
              },
              {
                name: 'invoice.sent',
                options: ['yes', 'no']
              },
              {
                name: 'visa.requested',
                options: ['yes', 'no']
              },
              {
                name: 'visa.sent',
                options: ['yes', 'no']
              }
            ]
          },
          table: {
            columns: [
              {
                name: 'view'
              },
              {
                name: 'user_name',
                field: 'user_name',
                sortable: true,
                align: 'left',
                label: 'Attendee'
              },
              {
                name: 'user_affiliation',
                field: 'user_affiliation',
                sortable: true,
                align: 'left',
                label: 'Affiliation'
              },
              {
                name: 'created_at',
                field: 'created_at',
                sortable: true,
                align: 'left',
                label: 'Date'
              },
              {
                name: 'visa_status',
                align: 'center',
                label: 'Visa'
              },
              {
                name: 'invoice_status',
                align: 'center',
                label: 'Invoice'
              },
              {
                name: 'payment_status',
                align: 'center',
                label: 'Paid'
              }
            ],
            pagination: {
              rowsPerPage: 25,
              sortBy: 'created_at',
              descending: true
            }
          }
        };
      },
      computed: _.extend(
        Vuex.mapGetters(['countries']),
        Vuex.mapState(['event', 'registrations']), {
        filtersWithCountries: function () {
          var countryFilters = [];

          if (this.registrations.length && this.countries.length) {
            countryFilters = [
              {
                name: 'country',
                options: _.union(_.pluck(this.countries, 'slug'), ['unknown'])
              }
            ];
          }

          return _.union(countryFilters, this.search.filters);
        }
      })
    };

    var SessionsView = {
      template: '#v-sessions',
      mixins: [QueryMixin, EventRelatedMixin],
      data: function () {
        return {
          createUrl: VARS.urlSessions,
          stateVar: 'sessions',
          saveEventName: 'evan-save-session',
          confirmRemoveMsg: 'Are you sure you want to delete this session? Deleting a session will remove it from all registrations.',
          //
          table: {
            columns: [
              {
                name: 'edit'
              },
              {
                name: 'start_at',
                field: 'start_at',
                sortable: true,
                align: 'left',
                label: 'Start',
                classes:'q-table--col-auto-width'
              },
              {
                name: 'duration',
                field: 'duration',
                align: 'left',
                label: 'Duration',
                classes:'q-table--col-auto-width'
              },
              {
                name: 'title',
                field: 'title',
                sortable: true,
                align: 'left',
                label: 'Title'
              },
              {
                name: 'track',
                field: 'trackName',
                sortable: true,
                align: 'left',
                label: 'Track'
              },
              {
                name: 'remove'
              }
            ],
            pagination: {
              rowsPerPage: 0,
              sortBy: 'start_at',
              descending: false
            }
          }
        };
      },
      computed: _.extend(
        Vuex.mapGetters(['topicsSorted', 'tracksSorted']),
        Vuex.mapState(['event', 'sessions', 'topics', 'tracks']), {
        dateRange: function () {
          if (!this.event) return null;
          return Array.from(this.event.date_range.by('day')).map(function (obj) {
            return obj.format('YYYY/MM/DD');
          });
        },
        extendedSessions: function () {
          var td = this.tracksDict;
          return this.sessions.map(function (obj) {
            obj.startAt = moment(obj.start_at);
            obj.endAt = moment(obj.end_at);
            obj.duration = moment.duration(obj.endAt.diff(obj.startAt));
            obj.trackName = _.has(td, obj.track) ? td[obj.track].name : null;
            return obj;
          }).sort(function (a, b) {
            return a.startAt.diff(b.startAt) || Evan.utils.sortText(a.title, b.title);
          });
        },
        tracksDict: function () {
          return _.indexBy(this.tracks, 'id');
        }
      }),
      methods: {
        addObj: function () {
          this.tmpObj = {
            is_social_event: false,
            max_attendees: 0,
            title: null,
            summary: null,
            topics: []
          };
        }
      }
    };

    var SponsorsView = {
      template: '#v-sponsors',
      mixins: [EventRelatedMixin, UploaderMixin],
      data: function () {
        return {
          createUrl: VARS.urlSponsors,
          stateVar: 'sponsors',
          saveEventName: 'evan-save-sponsor',
          //
          table: {
            columns: [
              {
                name: 'edit'
              },
              {
                name: 'name',
                field: 'name',
                align: 'left',
                label: 'Name'
              },
              {
                name: 'level',
                field: 'level',
                align: 'left',
                label: 'Level'
              },
              {
                name: 'website',
                field: 'website',
                align: 'left',
                label: 'Website'
              },
              {
                name: 'remove'
              }
            ],
            pagination: {
              rowsPerPage: 0,
              sortBy: 'level',
              descending: false
            }
          }
        };
      },
      computed: _.extend(
        Vuex.mapState(['event', 'sponsors']), {
        levelOptions: function () {
          if (!this.event || !this.event.config.sponsors) return [];
          return this.event.config.sponsors.map(function (s, i) {
            return {
              label: s,
              value: i
            }
          });
        },
        rows: function () {
          if (!this.levelOptions.length) return this.sponsors;
          var lo = _.indexBy(this.levelOptions, "value");
          return this.sponsors.map(function (obj) {
            obj.level_display = lo[obj.level].label;
            return obj;
          });
        },
        uploadUrl: function () {
          if (!this.tmpObj) return null;
          return this.tmpObj.rel_files;
        }
      }),
      methods: {
        addObj: function () {
          this.tmpObj = {
            level: null,
            name: null,
            website: null
          };
        },
        removeFile: function (file) {
          this.tmpObj.files = _.reject(_.clone(this.tmpObj.files), function (f) {
            return f.self == file.self;
          });
          this.updateState();
        },
        updateObj: function (obj) {
          this.tmpObj = obj;
          this.updateState();
        },
        updateState: function () {
          this.$store.commit('update', {var: this.stateVar, action: 'update', obj: _.clone(this.tmpObj)});
        }
      }
    };

    var StatsView = {
      template: '#v-stats',
      data: function () {
        return {
          limit: 5,
          blocks: [
            {
              label: 'Gender',
              items: [
                { key: 'gender:female', label: 'Female attendees' },
                { key: 'gender:male', label: 'Male attendees' },
                { key: 'gender:non-binary', label: 'Non-binary' },
                { key: 'gender:unknown', label: '(Not set)' }
              ]
            },
            {
              label: 'Finances',
              items: [
                { key: 'paid:yes', label: 'Registrations paid' },
                { key: 'coupon:yes', label: 'Coupons used' },
                { key: 'invoice.requested:yes', label: 'Invoices requested' },
                { key: 'invoice.sent:yes', label: 'Invoices sent', compare: 'invoice.requested:yes' }
              ]
            },
            {
              label: 'Visum',
              items: [
                { key: 'visa.requested:yes', label: 'Visa letters requested' },
                { key: 'visa.sent:yes', label: 'Visa letters sent', compare: 'visa.requested:yes' },
              ]
            }
          ]
        };
      },
      computed: _.extend(
        Vuex.mapGetters(['countries', 'stats']),
        Vuex.mapState(['event', 'registrations']), {
        countriesBlock: function () {
          if (!Object.keys(this.stats).length || !this.countries.length) return [];
          var stats = this.stats;
          return this.countries.map(function (obj) {
            obj.key = 'country:' + obj.slug,
            obj.count = stats[obj.key];
            return obj;
          }).sort(function (a, b) {
            return b.count - a.count || Evan.utils.sortText(a.name, b.name);
          });
        },
        totalRegistrations: function () {
          return this.registrations.length;
        }
      })
    };

    var TopicsView = {
      template: '#v-topics',
      mixins: [EventRelatedMixin],
      data: function () {
        return {
          createUrl: VARS.urlTopics,
          stateVar: 'topics',
          saveEventName: 'evan-save-topic',
          //
          table: {
            columns: [
              {
                name: 'edit'
              },
              {
                name: 'name',
                field: 'name',
                align: 'left',
                label: 'Name'
              },
              {
                name: 'remove'
              }
            ],
            pagination: {
              rowsPerPage: 0,
              sortBy: 'name',
              descending: false
            }
          }
        };
      },
      computed: _.extend(
        Vuex.mapState(['event', 'topics']), {
      }),
      methods: {
        addObj: function () {
          this.tmpObj = {
            name: null
          };
        }
      }
    };

    var TracksView = {
      template: '#v-tracks',
      mixins: [EventRelatedMixin],
      data: function () {
        return {
          createUrl: VARS.urlTracks,
          stateVar: 'tracks',
          saveEventName: 'evan-save-track',
          //
          table: {
            columns: [
              {
                name: 'edit'
              },
              {
                name: 'name',
                field: 'name',
                align: 'left',
                label: 'Name'
              },
              {
                name: 'remove'
              }
            ],
            pagination: {
              rowsPerPage: 0,
              sortBy: 'name',
              descending: false
            }
          }
        };
      },
      computed: _.extend(
        Vuex.mapState(['event', 'tracks']), {
      }),
      methods: {
        addObj: function () {
          this.tmpObj = {
            name: null
          };
        }
      }
    };

    var VenuesView = {
      template: '#v-venues',
      mixins: [EventRelatedMixin],
      data: function () {
        return {
          createUrl: VARS.urlVenues,
          stateVar: 'venues',
          saveEventName: 'evan-save-venue',
          //
          table: {
            columns: [
              {
                name: 'edit',
              },
              {
                name: 'name',
                field: 'name',
                align: 'left',
                label: 'Venue name'
              },
              {
                name: 'remove'
              }
            ],
            pagination: {
              rowsPerPage: 0,
              sortBy: 'name',
              descending: false
            }
          }
        };
      },
      computed: _.extend(
        Vuex.mapState(['event', 'venues']), {
      }),
      methods: {
        addObj: function () {
          this.tmpObj = {
            name: null,
            city: null,
            presentation: null
          };
        }
      }
    };

    var Router = VueRouter.createRouter({
      history: VueRouter.createWebHashHistory(),
      routes: [
        {
          path: '/',
          redirect: {name: 'stats'}
        },
        {
          name: 'abstracts',
          path: '/abstracts/',
          pathToRegexpOptions: {strict: true},
          component: AbstractsView
        },
        {
          name: 'cms',
          path: '/cms/',
          pathToRegexpOptions: {strict: true},
          component: CmsView
        },
        {
          name: 'coupons',
          path: '/coupons/',
          pathToRegexpOptions: {strict: true},
          component: CouponsView,
          props: function (route) {
            return {
              q: route.query.q
            };
          }
        },
        {
          name: 'dates',
          path: '/dates/',
          pathToRegexpOptions: {strict: true},
          component: DatesView
        },
        {
          name: 'event',
          path: '/event/',
          pathToRegexpOptions: {strict: true},
          component: EventView
        },
        {
          name: 'registrations',
          path: '/registrations/:uuid?/',
          pathToRegexpOptions: {strict: true},
          component: RegistrationsView,
          props: function (route) {
            return {
              q: route.query.q,
              uuid: route.params.uuid
            };
          }
        },
        {
          name: 'sessions',
          path: '/sessions/',
          pathToRegexpOptions: {strict: true},
          component: SessionsView,
          props: function (route) {
            return {
              q: route.query.q
            };
          }
        },
        {
          name: 'sponsors',
          path: '/sponsors/',
          pathToRegexpOptions: {strict: true},
          component: SponsorsView
        },
        {
          name: 'stats',
          path: '/stats/',
          pathToRegexpOptions: {strict: true},
          component: StatsView
        },
        {
          name: 'taxonomy',
          path: '/taxonomy/',
          pathToRegexpOptions: {strict: true},
          components: {
            left: TracksView,
            right: TopicsView
          }
        },
        {
          name: 'venues',
          path: '/venues/',
          pathToRegexpOptions: {strict: true},
          component: VenuesView
        }
      ]
    });

    var app = Vue.createApp({
      data: function () {
        return {
          visibleDrawer: true
        };
      },
      computed: Vuex.mapState(['event']),
      created: function () {
        this.$q.loading.show();
        this.$store.commit('getEvent');
        this.$store.commit('getRegistrations');
      }
    });

    Evan.utils.registerComponents(app, [EvanCommonComponents, EvanFormComponents]);

    app.use(Store);
    app.use(Router);
    app.use(Quasar);
    app.mount('#vue');
  </script>
{% endcompress %}
{% endblock %}
