{% extends 'layout.html' %}

{% load compress %}
{% load static %}


{% block head_title %}{{ event.code }} - {{ block.super }}{% endblock %}

{% block header %}
  <q-header :bordered="$q.screen.gt.sm" class="bg-grey-1 text-dark q-pl-sm">
    <q-toolbar>
      <q-btn flat @click="visibleDrawer = !visibleDrawer" round dense icon="menu"></q-btn>
      <q-toolbar-title>
        <strong>{{ event.name }}</strong>
      </q-toolbar-title>
    </q-toolbar>
  </q-header>
{% endblock %}

{% block drawer %}
  <q-drawer show-if-above v-model="visibleDrawer" side="left" :elevated="$q.screen.lt.md" content-class="bg-grey-1 q-pt-lg q-pl-sm text-weight-medium" :width="250">
    <q-scroll-area class="fit">
      <q-list dense>
        <q-item-label header>Event management</q-item-label>
        <q-item clickable :to="{name: 'event'}">
          <q-item-section avatar><q-icon name="widgets"></q-icon></q-item-section>
          <q-item-section>Event</q-item-section>
        </q-item>
        <q-item v-if="event && !event.is_virtual" clickable :to="{name: 'venues'}">
          <q-item-section avatar><q-icon name="place"></q-icon></q-item-section>
          <q-item-section>Venues & rooms</q-item-section>
        </q-item>
        <q-item clickable :to="{name: 'taxonomy'}">
          <q-item-section avatar><q-icon name="label"></q-icon></q-item-section>
          <q-item-section>Tracks & topics</q-item-section>
        </q-item>
        <q-item clickable :to="{name: 'sessions'}">
          <q-item-section avatar><q-icon name="event_available"></q-icon></q-item-section>
          <q-item-section>Sessions</q-item-section>
        </q-item>
        <q-item clickable :to="{name: 'coupons'}">
          <q-item-section avatar><q-icon name="local_activity"></q-icon></q-item-section>
          <q-item-section>Coupons</q-item-section>
        </q-item>
      </q-list>
      <q-list dense v-if="event && event.main_config.cms">
        <q-item-label header>Website</q-item-label>
        <q-item clickable :to="{name: 'cms'}">
          <q-item-section avatar><q-icon name="wysiwyg"></q-icon></q-item-section>
          <q-item-section>Contents</q-item-section>
        </q-item>
      </q-list>
      <q-list dense>
        <q-item-label header>Overview</q-item-label>
        <q-item clickable :to="{name: 'registrations'}">
          <q-item-section avatar><q-icon name="recent_actors"></q-icon></q-item-section>
          <q-item-section>Registrations</q-item-section>
        </q-item>
        <!--<q-item clickable :to="{name: 'stats'}">
          <q-item-section avatar><q-icon name="query_stats"></q-icon></q-item-section>
          <q-item-section>Stats</q-item-section>
        </q-item>-->
      </q-list>
    </q-scroll-area>
  </q-drawer>
{% endblock %}

{% block page %}
  <div id="vars" data-url-user="{% url 'v1:user-detail' user.id %}" data-url-event="{% url 'v1:event-detail' event.code %}" data-url-contents="{% url 'v1:contents-list' event.code %}"  data-url-coupons="{% url 'v1:coupons-list' event.code %}" data-url-registrations="{% url 'v1:registrations-list' event.code %}"></div>
  <div is="router-view" class="q-pt-lg"></div>
{% endblock %}

{% block vue_templates %}
  {% include './v-cms.html' %}
  {% include './v-coupons.html' %}
  {% include './v-event.html' %}
  {% include './v-registrations.html' %}
  {% include './v-sessions.html' %}
  {% include './v-stats.html' %}
  {% include './v-taxonomy.html' %}
  {% include './v-venues.html' %}
{% endblock %}

{% block scripts %}
{% compress js file app_events2 %}
  <script src="{% static 'js/components/forms.js' %}"></script>
  <script src="{% static 'js/components/tables.js' %}"></script>
  <script type="text/javascript">
    var VARS = document.querySelector('#vars').dataset;

    var Store = new Vuex.Store({
      state: {
        user: null,
        event: null,
        registrations: [],
        contents: [],
        coupons: [],
        used_coupons: new Set()
      },
      mutations: {
        getUser: function (state) {

        },
        getContents: function (state) {
          Evan.api.request('get', VARS.urlContents).then(function (res) {
            state.contents = res.data;
          });
        },
        getCoupons: function (state) {
          Evan.api.request('get', VARS.urlCoupons).then(function (res) {
            state.coupons = res.data.map(function (obj) {
              return Evan.map.coupon(obj);
            });
          });
        },
        getEvent: function (state) {
          var self = this;
          Evan.api.request('get', VARS.urlEvent).then(function (res) {
            state.event = Evan.map.event(res.data);

            setTimeout(function () {
              self.commit('getEvent');
            }, 45000);
          });
        },
        getRegistrations: function (state) {
          Evan.api.request('get', VARS.urlRegistrations).then(function (res) {
            state.registrations = Object.freeze(res.data.map(function (obj) {
              return Evan.map.registration(obj);
            }));
            state.used_coupons = Object.freeze(new Set(_.pluck(_.pluck(res.data.filter(function (obj) {
              return obj.coupon !== null;
            }), 'coupon'), 'code')));
          });
        }
      }
    });

    var CmsView = {
      data: function () {
        return {
          selectedObj: null,
        }
      },
      template: '#v-cms',
      computed: _.extend(
        Vuex.mapState(['event', 'contents']), {
      }),
      created: function () {
        this.$store.commit('getContents');
      }
    };

    var CouponsView = {
      template: '#v-coupons',
      data: function () {
        return {
          showDialog: false,
          query: this.q || '',
          table: {
            columns: [
              {
                name: 'code',
                field: 'code',
                sortable: true,
                label: 'Code',
                align: 'left',
              },
              {
                name: 'value',
                field: 'value',
                sortable: true,
                align: 'left',
                label: 'Value'
              },
              {
                name: 'notes',
                field: 'notes',
                sortable: true,
                align: 'left',
                label: 'Notes'
              },
              {
                name: 'used',
                align: 'center',
                label: 'Used'
              }
            ],
            pagination: {
              rowsPerPage: 25
            },
            filter: null
          }
        }
      },
      computed: _.extend(
        Vuex.mapState(['event', 'coupons', 'used_coupons']), {
        items: function () {
          var res = this.coupons.sort(function (a, b) {
            return Evan.utils.sortText(a.notes, b.notes);
          });

          if (this.query == '') return res;
          var qs = this.query.toLowerCase().split(' ');

          return res.filter(function (obj) {
            return _.every(qs, function (q) {
              return obj._q.indexOf(q) !== -1;
            });
          });
        }
      }),
      methods: {
        create: function () {
          /*var self = this;
          self.$store.commit('startSaving', 'Creating new coupon...');
          ajax().post($('#vars').data('url-coupons'), self.coupon).done(function (res) {
              self.coupons.push(res);
              self.coupon = {value: 0, notes: ''};
              self.$store.commit('endSaving', 'Created!');
          }).fail(function (err) {
              self.$store.commit('parseError', err);
          });*/
        },
        handleSave: function (coupon) {
          Evan.api.update(coupon);
        },
        destroy: function (coupon) {
          /*var self = this;
          ajax().delete(coupon.url).done(function (res) {
              self.$store.commit('set', ['coupons', _.reject(self.coupons, function (obj) {
                  return coupon.id == obj.id;
              })]);
          });*/
        }
      },
      created: function () {
        this.$store.commit('getCoupons');
      }
    };

    var EventView = {
      template: '#v-event',
      computed: _.extend(
        Vuex.mapState(['event']), {
        dates: function () {
          var start = moment(this.event.days[0].date);
          var end = moment(this.event.days[this.event.days.length - 1].date);

          return (start.isSame(end, 'day'))
            ? start.format('MMMM D, YYYY')
            : ((start.isSame(end, 'month'))
              ? start.format('MMMM D') + '-' +  end.format('D, YYYY')
              : start.format('MMMM D') + ' - ' +  end.format('MMMM D, YYYY')
            );
        },
        open: function () {
          return moment(this.event.registration_deadline).isAfter();
        }
      }),
      watch: {
        'event': {
          deep: true,
          handler: _.debounce(function (val, oldVal) {
            if (oldVal == null) return;
            Evan.api.update(val);
          }, 2000)
        }
      }
    };

    var RegistrationsView = {
      template: '#v-registrations',
      props: ['q', 'uuid'],
      data: function () {
        return {
          dialogVisible: false,
          query: this.q || ''
        }
      },
      computed: _.extend(
        Vuex.mapState(['event', 'registrations']), {
        items: function () {
          if (this.query == '') return this.registrations;
          var qs = this.query.toLowerCase().split(' ');

          return this.registrations.filter(function (obj) {
            return _.every(qs, function (q) {
              return obj._q.indexOf(q) !== -1;
            });
          });
        }
      }),
      watch: {
        query: function (val, oldVal) {
          if (val != '') this.$router.replace({query: {q: val}});
          else this.$router.replace({query: {q: undefined}});
        }
      }
    };

    var SessionsView = {
      data: function () {
        return {
          selectedObj: null,
        }
      },
      template: '#v-sessions',
      computed: _.extend(
        Vuex.mapState(['event']), {
      })
    };

    var StatsView = {
      template: '#v-stats'
    };

    var TaxonomyView = {
      template: '#v-taxonomy'
    };

    var VenuesView = {
      template: '#v-venues'
    };

    var Router = new VueRouter({
      routes: [
        {
          path: '/',
          redirect: {name: 'event'}
        },
        {
          name: 'cms',
          path: '/cms/',
          pathToRegexpOptions: {strict: true},
          component: CmsView
        },
        {
          name: 'coupons',
          path: '/coupons/',
          pathToRegexpOptions: {strict: true},
          component: CouponsView,
          props: function (route) {
            return {
              q: route.query.q
            };
          }
        },
        {
          name: 'event',
          path: '/event/',
          pathToRegexpOptions: {strict: true},
          component: EventView
        },
        {
          name: 'registrations',
          path: '/registrations/:uuid?/',
          pathToRegexpOptions: {strict: true},
          component: RegistrationsView,
          props: function (route) {
            return {
              q: route.query.q,
              uuid: route.params.uuid
            };
          }
        },
        {
          name: 'sessions',
          path: '/sessions/:id?/',
          pathToRegexpOptions: {strict: true},
          component: SessionsView,
          props: function (route) {
            return {
              q: route.query.q,
              id: +route.params.uuid
            };
          }
        },
        {
          name: 'stats',
          path: '/stats/',
          pathToRegexpOptions: {strict: true},
          component: StatsView
        },
        {
          name: 'taxonomy',
          path: '/taxonomy/',
          pathToRegexpOptions: {strict: true},
          component: TaxonomyView
        },
        {
          name: 'venues',
          path: '/venues/',
          pathToRegexpOptions: {strict: true},
          component: VenuesView
        }
      ]
    });

    new Vue({
      el: '#vue',
      store: Store,
      router: Router,
      data: function () {
        return {
          visibleDrawer: true
        };
      },
      computed: Vuex.mapState(['user', 'event']),
      created: function () {
        this.$store.commit('getUser');
        this.$store.commit('getEvent');
        this.$store.commit('getRegistrations');
      }
    });
  </script>
{% endcompress %}
{% endblock %}
