{% extends 'layout.html' %}

{% load compress %}
{% load static %}


{% block head_title %}{{ event.code }} - {{ block.super }}{% endblock %}

{% block header %}
  <q-header :bordered="$q.screen.gt.sm" class="bg-grey-1 text-dark q-pl-sm">
    <q-toolbar>
      <q-btn flat round dense @click="visibleDrawer = !visibleDrawer" icon="menu"></q-btn>
      <q-toolbar-title>
        <strong>{{ event.name }}</strong>
      </q-toolbar-title>
    </q-toolbar>
  </q-header>
{% endblock %}

{% block drawer %}
  <q-drawer show-if-above v-model="visibleDrawer" side="left" :elevated="$q.screen.lt.md" content-class="bg-grey-1 q-pt-lg q-pl-sm text-weight-medium" :width="250">
    <q-scroll-area v-if="event" class="fit">
      <q-list dense>
        <q-item-label header>Event management</q-item-label>
        <q-item clickable :to="{name: 'event'}">
          <q-item-section avatar><q-icon name="widgets"></q-icon></q-item-section>
          <q-item-section>Event</q-item-section>
        </q-item>
        <q-item clickable :to="{name: 'dates'}">
          <q-item-section avatar><q-icon name="event"></q-icon></q-item-section>
          <q-item-section>Important dates</q-item-section>
        </q-item>
        <q-item v-if="!event.is_virtual" clickable :to="{name: 'venues'}">
          <q-item-section avatar><q-icon name="pin_drop"></q-icon></q-item-section>
          <q-item-section>Venues & rooms</q-item-section>
        </q-item>
        <q-item clickable :to="{name: 'taxonomy'}">
          <q-item-section avatar><q-icon name="label"></q-icon></q-item-section>
          <q-item-section>Tracks & topics</q-item-section>
        </q-item>
        <q-item clickable :to="{name: 'sessions'}">
          <q-item-section avatar><q-icon name="view_week"></q-icon></q-item-section>
          <q-item-section>Sessions</q-item-section>
        </q-item>
        <q-item clickable :to="{name: 'coupons'}">
          <q-item-section avatar><q-icon name="local_activity"></q-icon></q-item-section>
          <q-item-section>Coupons</q-item-section>
        </q-item>
      </q-list>
      <q-list dense v-if="event.main_config.cms">
        <q-item-label header>Website</q-item-label>
        <q-item clickable :to="{name: 'cms'}">
          <q-item-section avatar><q-icon name="wysiwyg"></q-icon></q-item-section>
          <q-item-section>Contents</q-item-section>
        </q-item>
      </q-list>
      <q-list dense>
        <q-item-label header>Overview</q-item-label>
        <q-item clickable :to="{name: 'registrations'}">
          <q-item-section avatar><q-icon name="recent_actors"></q-icon></q-item-section>
          <q-item-section>Registrations</q-item-section>
        </q-item>
        <!--<q-item clickable :to="{name: 'stats'}">
          <q-item-section avatar><q-icon name="query_stats"></q-icon></q-item-section>
          <q-item-section>Stats</q-item-section>
        </q-item>-->
      </q-list>
    </q-scroll-area>
  </q-drawer>
{% endblock %}

{% block page %}
  <div id="vars" data-url-user="{% url 'v1:user-detail' user.id %}" data-url-event="{% url 'v1:event-detail' event.code %}" data-url-contents="{% url 'v1:contents-list' event.code %}" data-url-coupons="{% url 'v1:coupons-list' event.code %}" data-url-registrations="{% url 'v1:registrations-list' event.code %}" data-url-topics="{% url 'v1:topics-list' event.code %}" data-url-tracks="{% url 'v1:tracks-list' event.code %}" data-url-venues="{% url 'v1:venues-list' event.code %}"></div>
  <div is="router-view" class="q-pt-lg"></div>
  <div class="row q-col-gutter-lg items-stretch q-pt-lg">
    <div is="router-view" name="left" class="col-12 col-md-6"></div>
    <div is="router-view" name="right" class="col-12 col-md-6"></div>
  </div>
{% endblock %}

{% block vue_templates %}
  {% include './v-cms.html' %}
  {% include './v-coupons.html' %}
  {% include './v-dates.html' %}
  {% include './v-event.html' %}
  {% include './v-registrations.html' %}
  {% include './v-sessions.html' %}
  {% include './v-stats.html' %}
  {% include './v-topics.html' %}
  {% include './v-tracks.html' %}
  {% include './v-venues.html' %}
{% endblock %}

{% block scripts %}
{% compress js file app_events2 %}
  <script src="{% static 'js/components/forms.js' %}"></script>
  <script src="{% static 'js/components/tables.js' %}"></script>
  <script type="text/javascript">
    var VARS = document.querySelector('#vars').dataset;

    var Store = new Vuex.Store({
      state: {
        event: null,
        registrations: null,
        contents: [],
        coupons: [],
        sessions: [],
        topics: [],
        tracks: [],
        venues: []
      },
      getters: {
        used_coupons: function (state) {
          if (state.registrations === null) return null;
          if (!state.registrations.length) return new Set();
          return new Set(_.pluck(_.pluck(state.registrations.filter(function (obj) {
              return obj.coupon !== null;
            }), 'coupon'), 'id'));
        }
      },
      mutations: {
        getContents: function (state) {
          Evan.api.request('get', VARS.urlContents).then(function (res) {
            state.contents = res.data;
          });
        },
        getCoupons: function (state) {
          Evan.api.request('get', VARS.urlCoupons).then(function (res) {
            state.coupons = res.data;
          });
        },
        getEvent: function (state) {
          Evan.api.request('get', VARS.urlEvent).then(function (res) {
            state.event = Evan.map.event(res.data);
            state.sessions = _.clone(state.event.sessions);
            state.topics = _.clone(state.event.topics);
            state.tracks = _.clone(state.event.tracks);
            state.venues = _.clone(state.event.venues);
            Quasar.plugins.Loading.hide();
          });
        },
        getRegistrations: function (state) {
          var self = this;

          Evan.api.request('get', VARS.urlRegistrations).then(function (res) {
            state.registrations = Object.freeze(res.data.map(function (obj) {
              return Evan.map.registration(obj);
            }));

            setTimeout(function () {
              self.commit('getRegistrations');
            }, 45000);
          });
        },
        update: function (state, payload) {
          if (payload.action == 'add') {
            state[payload.var].push(payload.obj);
          } else if (payload.action == 'update') {
            Object.assign(_.findWhere(state[payload.var], {
              id: payload.obj.id
            }), payload.obj);
          } else if (payload.action == 'remove') {
            state[payload.var] = _.without(state[payload.var], _.findWhere(state[payload.var], {
              id: payload.obj.id
            }));
          }
        }
      }
    });

    var EventRelatedMixin = {
      data: function () {
        return {
          tmpObj: null,
          createUrl: null,
          stateVar: null,
          saveEventName: null
        }
      },
      methods: {
        clearObj: function () {
          this.tmpObj = null;
        },
        cloneObj: function (obj) {
          this.tmpObj = _.clone(obj);
        },
        createOrUpdate: function (obj) {
          var self = this;

          if (_.has(obj, 'url')) {
            Evan.api.update(obj, function (res) {
              self.$store.commit('update', {var: self.stateVar, action: 'update', obj: res.data});
            });
          } else {
            Evan.api.create(this.createUrl, obj, function (res) {
              self.$store.commit('update', {var: self.stateVar, action: 'add', obj: res.data});
            });
          }
        },
        remove: function (obj) {
          var self = this;
          this.$q.dialog({
            message: 'Are you sure you want to delete this item?',
            cancel: true
          }).onOk(function () {
            Evan.api.remove(obj, function (res) {
              self.$store.commit('update', {var: self.stateVar, action: 'remove', obj: obj});
            });
          });
        }
      },
      created: function () {
        this.$root.$on(this.saveEventName, this.createOrUpdate);
        this.$root.$on('evan-editor-hide', this.clearObj);
      },
      beforeDestroy: function () {
        this.$root.$off(this.saveEventName);
        this.$root.$off('evan-editor-hide', this.clearObj);
      }
    }

    var CmsView = {
      template: '#v-cms',
      mixins: [EventRelatedMixin],
      data: function () {
        return {
          stateVar: 'contents',
          saveEventName: 'evan-save-content',
          //
          table: {
            columns: [
              {
                name: 'edit',
                field: 'edit',
              },
              {
                name: 'key',
                field: 'key',
                sortable: true,
                align: 'left',
                label: 'Key',
              }
            ],
            pagination: {
              rowsPerPage: 0,
              sortBy: 'key',
              descending: false
            }
          }
        }
      },
      computed: _.extend(
        Vuex.mapState(['event', 'contents']), {
      }),
      created: function () {
        this.$store.commit('getContents');
      }
    };

    var CouponsView = {
      template: '#v-coupons',
      mixins: [EventRelatedMixin],
      data: function () {
        return {
          createUrl: VARS.urlCoupons,
          stateVar: 'coupons',
          saveEventName: 'evan-save-coupon',
          //
          query: this.q || '',
          table: {
            columns: [
              {
                name: 'edit',
                field: 'edit'
              },
              {
                name: 'code',
                field: 'code',
                sortable: true,
                align: 'left',
                label: 'Code'
              },
              {
                name: 'value',
                field: 'value',
                sortable: true,
                label: 'Value',
                classes:'q-table--col-auto-width'
              },
              {
                name: 'notes',
                field: 'notes',
                sortable: true,
                align: 'left',
                label: 'Notes'
              },
              {
                name: 'used',
                align: 'center',
                label: 'Used'
              },
              {
                name: 'remove',
                field: 'remove'
              },
            ],
            pagination: {
              rowsPerPage: 25,
              sortBy: 'notes',
              descending: false
            }
          }
        }
      },
      computed: _.extend(
        Vuex.mapGetters(['used_coupons']),
        Vuex.mapState(['event', 'coupons']), {
        extendedCoupons: function () {
          var uc = this.used_coupons;
          if (uc === null) return [];
          return this.coupons.map(function (obj) {
            obj.used = uc.has(obj.id);
            return obj;
          });
        }
      }),
      methods: {
        addObj: function () {
          this.tmpObj = {
            value: 100,
            notes: 'Custom notes'
          };
        }
      },
      created: function () {
        this.$store.commit('getCoupons');
      }
    };

    var DatesView = {
      template: '#v-dates',
      data: function () {
        return {
          saveEventName: 'evan-save-date',
          tmpDates: [],
          tmpObj: null,
          formatOptions: [
            {
              label: 'Show full date',
              value: 'date'
            },
            {
              label: 'Show date range',
              value: 'range'
            },
            {
              label: 'Show month only',
              value: 'month'
            },
          ],
          table: {
            columns: [
              {
                name: 'edit',
                field: 'edit'
              },
              {
                name: 'label',
                field: 'label',
                align: 'left',
                label: 'Label'
              },
              {
                name: 'start_date',
                field: 'start_date',
                sortable: true,
                align: 'left',
                label: 'Date',
                classes:'q-table--col-auto-width'
              },
              {
                name: 'end_date',
                field: 'end_date',
                align: 'left',
                label: 'End date',
                classes:'q-table--col-auto-width'
              },
              {
                name: 'format',
                field: 'format',
                align: 'left',
                label: 'Format'
              },
              {
                name: 'remove',
                field: 'remove'
              }
            ],
            pagination: {
              rowsPerPage: 0,
              sortBy: 'start_date',
              descending: false
            }
          }
        };
      },
      computed: _.extend(
        Vuex.mapState(['event']), {
        dates: function () {
          if (!this.event) return [];
          return this.event.custom_data.dates.sort(function (a, b) {
            return Evan.utils.sortText(a.start_date, b.start_date);
          }).map(function (obj, idx) {
            obj.key = idx;
            return obj;
          });
        },
        formatDict: function () {
          return _.indexBy(this.formatOptions, 'value');
        }
      }),
      methods: {
        clearObj: function () {
          this.tmpObj = null;
        },
        addObj: function () {
          this.tmpObj = {
            start_date: moment().format('YYYY-MM-DD'),
            end_date: null,
            label: 'Custom label',
            format: 'month'
          };
        },
        createOrUpdate: function (obj) {
          if (!_.has(obj, 'key')) { this.event.custom_data.dates.push(this.tmpObj); }
          Evan.api.update(this.event, null, 'Dates updates.');
        },
        remove: function (key) {
          var self = this;
          this.$q.dialog({
            message: 'Are you sure you want to delete this item?',
            cancel: true
          }).onOk(function () {
            self.event.custom_data.dates.splice(key, 1);  // key is idx in this case
            Evan.api.update(self.event, null, 'Dates updates.');
          });
        }
      },
      created: function () {
        this.$root.$on(this.saveEventName, this.createOrUpdate);
        this.$root.$on('evan-editor-hide', this.clearObj);
      },
      beforeDestroy: function () {
        this.$root.$off(this.saveEventName);
        this.$root.$off('evan-editor-hide', this.clearObj);
      }
    };

    var EventView = {
      template: '#v-event',
      computed: _.extend(
        Vuex.mapState(['event']), {
        dates: function () {
          var start = this.event.start;
          var end = this.event.end;

          return (start.isSame(end, 'day'))
            ? start.format('MMMM D, YYYY')
            : ((start.isSame(end, 'month'))
              ? start.format('MMMM D') + '-' +  end.format('D, YYYY')
              : start.format('MMMM D') + ' - ' +  end.format('MMMM D, YYYY')
            );
        },
        open: function () {
          return moment(this.event.registration_start_date).isSameOrBefore(moment(), 'day')
              && moment(this.event.registration_deadline).isAfter();
        }
      }),
      watch: {
        'event': {
          deep: true,
          handler: _.debounce(function (val, oldVal) {
            if (oldVal == null) return;
            Evan.api.update(val);
          }, 2000)
        }
      }
    };

    var RegistrationsView = {
      template: '#v-registrations',
      props: ['q', 'uuid'],
      data: function () {
        return {
          dialogVisible: false,
          query: this.q || ''
        }
      },
      computed: _.extend(
        Vuex.mapState(['event', 'registrations']), {
        items: function () {
          if (this.query == '') return this.registrations;
          var qs = this.query.toLowerCase().split(' ');

          return this.registrations.filter(function (obj) {
            return _.every(qs, function (q) {
              return obj._q.indexOf(q) !== -1;
            });
          });
        }
      }),
      watch: {
        query: function (val, oldVal) {
          if (val != '') this.$router.replace({query: {q: val}});
          else this.$router.replace({query: {q: undefined}});
        }
      }
    };

    var SessionsView = {
      template: '#v-sessions',
      mixins: [EventRelatedMixin],
      data: function () {
        return {
          createUrl: VARS.urlSessions,
          stateVar: 'sessions',
          saveEventName: 'evan-save-session',
          //
        }
      },
      computed: _.extend(
        Vuex.mapState(['event', 'sessions']), {
      })
    };

    var StatsView = {
      template: '#v-stats',
      computed: _.extend(
        Vuex.mapState(['event']), {
      })
    };

    var TopicsView = {
      template: '#v-topics',
      mixins: [EventRelatedMixin],
      data: function () {
        return {
          createUrl: VARS.urlTopics,
          stateVar: 'topics',
          saveEventName: 'evan-save-topic',
          //
          table: {
            columns: [
              {
                name: 'edit',
                field: 'edit'
              },
              {
                name: 'name',
                field: 'name',
                align: 'left',
                label: 'Name'
              },
              {
                name: 'remove',
                field: 'remove'
              }
            ],
            pagination: {
              rowsPerPage: 0,
              sortBy: 'name',
              descending: false
            }
          }
        }
      },
      computed: _.extend(
        Vuex.mapState(['event', 'topics']), {
      }),
      methods: {
        addObj: function () {
          this.tmpObj = {
            name: null
          };
        }
      }
    };

    var TracksView = {
      template: '#v-tracks',
      mixins: [EventRelatedMixin],
      data: function () {
        return {
          createUrl: VARS.urlTracks,
          stateVar: 'tracks',
          saveEventName: 'evan-save-track',
          //
          table: {
            columns: [
              {
                name: 'edit',
                field: 'edit'
              },
              {
                name: 'name',
                field: 'name',
                align: 'left',
                label: 'Name'
              },
              {
                name: 'remove',
                field: 'remove'
              }
            ],
            pagination: {
              rowsPerPage: 0,
              sortBy: 'name',
              descending: false
            }
          }
        }
      },
      computed: _.extend(
        Vuex.mapState(['event', 'tracks']), {
      }),
      methods: {
        addObj: function () {
          this.tmpObj = {
            name: null
          };
        }
      }
    };

    var VenuesView = {
      template: '#v-venues',
      mixins: [EventRelatedMixin],
      data: function () {
        return {
          createUrl: VARS.urlVenues,
          stateVar: 'venues',
          saveEventName: 'evan-save-venue',
          //
          table: {
            columns: [
              {
                name: 'edit',
                field: 'edit',
              },
              {
                name: 'name',
                field: 'name',
                align: 'left',
                label: 'Venue name'
              },
              {
                name: 'remove',
                field: 'remove'
              }
            ],
            pagination: {
              rowsPerPage: 0,
              sortBy: 'name',
              descending: false
            }
          }
        }
      },
      computed: _.extend(
        Vuex.mapState(['event', 'venues']), {
      }),
      methods: {
        addObj: function () {
          this.tmpObj = {
            name: null,
            city: null,
            presentation: null
          };
        }
      }
    };

    var Router = new VueRouter({
      /*scrollBehavior: function (to, from) {
        if (from.name.startsWith('session')) return;
        return {x: 0, y: 0};
      },*/
      routes: [
        {
          path: '/',
          redirect: {name: 'event'}
        },
        {
          name: 'cms',
          path: '/cms/',
          pathToRegexpOptions: {strict: true},
          component: CmsView
        },
        {
          name: 'coupons',
          path: '/coupons/',
          pathToRegexpOptions: {strict: true},
          component: CouponsView,
          props: function (route) {
            return {
              q: route.query.q
            };
          }
        },
        {
          name: 'dates',
          path: '/dates/',
          pathToRegexpOptions: {strict: true},
          component: DatesView
        },
        {
          name: 'event',
          path: '/event/',
          pathToRegexpOptions: {strict: true},
          component: EventView
        },
        {
          name: 'registrations',
          path: '/registrations/:uuid?/',
          pathToRegexpOptions: {strict: true},
          component: RegistrationsView,
          props: function (route) {
            return {
              q: route.query.q,
              uuid: route.params.uuid
            };
          }
        },
        {
          name: 'sessions',
          path: '/sessions/:id?/',
          pathToRegexpOptions: {strict: true},
          component: SessionsView,
          props: function (route) {
            return {
              q: route.query.q,
              id: +route.params.uuid
            };
          }
        },
        {
          name: 'stats',
          path: '/stats/',
          pathToRegexpOptions: {strict: true},
          component: StatsView
        },
        {
          name: 'taxonomy',
          path: '/taxonomy/',
          pathToRegexpOptions: {strict: true},
          components: {
            left: TracksView,
            right: TopicsView
          }
        },
        {
          name: 'venues',
          path: '/venues/',
          pathToRegexpOptions: {strict: true},
          component: VenuesView
        }
      ]
    });

    new Vue({
      el: '#vue',
      store: Store,
      router: Router,
      data: function () {
        return {
          visibleDrawer: true
        };
      },
      computed: Vuex.mapState(['event']),
      created: function () {
        this.$q.loading.show();
        this.$store.commit('getEvent');
        this.$store.commit('getRegistrations');
      }
    });
  </script>
{% endcompress %}
{% endblock %}
