<script type="text/x-template" id="v-abstracts">
{% verbatim %}
  <div v-if="event && event.config.abstracts">

    <q-card flat class="q-pa-lg">
      <div class="row no-wrap q-mb-sm">
        <display-5>Paper abstracts</display-5>
      </div>
      <q-input filled dense v-model="query" placeholder="Search by ID, author, title..." type="search" class="q-mb-md">
        <template v-slot:prepend>
          <q-icon v-if="query !== ''" name="close" @click="query = ''" class="cursor-pointer" />
          <q-icon name="search" />
        </template>
      </q-input>
      <q-table dense row-key="uuid" :rows="abstracts" :columns="table.columns" :pagination="table.pagination" :filter="query" @row-click="function (e, row) { cloneObj(row) }">
        <template v-slot:no-data="{ icon, message, filter }">
          <evan-no-data :message="message" :filter="filter" />
        </template>
        <template v-slot:body-cell-view="props">
          <q-td auto-width :props="props">
            <q-icon name="visibility" color="primary" />
          </q-td>
        </template>
        <template v-slot:body-cell-uuid="props">
          <q-td auto-width :props="props">
            <samp><small>{{ props.row.uuid }}</small></samp>
          </q-td>
        </template>
      </q-table>
    </q-card>

  </div>
{% endverbatim %}
</script>
