<script type="text/x-template" id="v-abstracts-config">
{% verbatim %}
  <div v-if="event && event.config.abstracts">

    <q-card flat class="q-pa-lg">
      <div class="row no-wrap q-mb-sm">
        <display-5>Abstracts configuration</display-5>
        <q-space />
        <div v-if="event.abstract_url">
          <q-btn type="a" :href="event.abstract_url" target="_blank" rel="noopener" no-caps outline rounded color="primary" label="Open submission form" />
        </div>
      </div>
      <div class="row q-col-gutter-xl">
        <div class="col-12 col-md-6">
          <display-3>Submission form</display-3>
          <div class="q-gutter-md q-mt-none">
            <q-input readonly filled dense v-model="abstractUrl" type="text" label="Abstract template">
              <template v-slot:append>
                <q-btn v-if="abstractFile" flat size="sm" @click.prevent="removeAbstractFile" class="q-px-sm">
                  <evan-remove-icon></evan-remove-icon>
                </q-btn>
                <q-btn v-else-if="!showUploader" unelevated size="sm" color="primary" label="Upload" @click.prevent="showUploader = true"></q-btn>
                <q-btn v-else unelevated size="sm" color="blue-grey" label="Hide" @click.prevent="showUploader = false"></q-btn>
              </template>
            </q-input>
            <div v-show="showUploader && !abstractFile">
              <q-uploader ref="uploader" flat auto-upload :factory="uploaderFactory" :max-files="1" @failed="uploadFailed" @rejected="uploadRejected" @uploaded="uploaded" color="blue-grey" class="full-width bg-grey-2" />
            </div>
            <q-input filled dense v-model="event.custom_data.abstracts.help" type="textarea" label="Form introduction"></q-input>
            <q-input filled dense v-model.number="event.custom_data.abstracts.abstract_max_length" type="number" label="Max characters abstract field"></q-input>
            <evan-datepicker v-model="event.custom_data.abstracts.submission_deadline" label="Submission deadline" :allow-null="true" :with-time="true"></evan-datepicker>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <display-3>Reviews</display-3>
          <div class="q-gutter-md q-mt-none">
            <q-input filled dense v-model.number="event.custom_data.abstracts.reviewers_max" type="number" label="Max reviewers per abstract"></q-input>
            <q-select label="Evaluation criteria" filled dense v-model="event.custom_data.abstracts.review_criteria" use-input use-chips multiple hide-dropdown-icon input-debounce="0" new-value-mode="add" class="evan__autocomplete" hint="All criteria will be evaluated from 1 (lower) to 5 (higher)." />
            <evan-user-selector v-model="event.custom_data.abstracts.reviewers" label="List of reviewers" hint="Reviewers need to have an account at Evan before you can select them. They can create an account at evan.ugent.be/join"></evan-user-selector>
          </div>
        </div>
      </div>
      <div class="q-mt-xl">
        <q-btn unelevated @click="update" color="primary" label="Update configuration" />
      </div>
    </q-card>

  </div>
{% endverbatim %}
</script>
