{% load static %}


<script type="text/x-template" id="v-coupons">
{% verbatim %}
  <div v-if="event">

    <q-card flat class="q-pa-lg">
      <div class="row no-wrap q-mb-sm">
        <display-5>Coupons</display-5>
        <q-space />
        <div>
          <q-btn no-caps outline rounded @click="addObj" color="primary" label="Add coupon" />
        </div>
      </div>
      <evan-search-bar v-model="query" placeholder="Search by code, notes..." />
      <q-table :dense="$q.screen.gt.sm" row-key="id" :rows="extendedCoupons" :columns="table.columns" :pagination="table.pagination" :filter="query" @row-click="function (e, row) { cloneObj(row) }">
        <template v-slot:no-data="{ icon, message, filter }">
          <evan-no-data :message="message" :filter="filter" />
        </template>
        <template v-slot:body-cell-edit="props">
          <q-td auto-width :props="props">
            <evan-edit-icon />
          </q-td>
        </template>
        <template v-slot:body-cell-code="props">
          <q-td auto-width :props="props">
            <samp>{{ props.row.code }}</samp>
          </q-td>
        </template>
        <template v-slot:body-cell-used="props">
          <q-td auto-width :props="props" class="items-center">
            <evan-yes-chip v-if="props.row.used" />
            <evan-no-chip v-else />
          </q-td>
        </template>
        <template v-slot:body-cell-remove="props">
          <q-td v-if="!props.row.used" auto-width :props="props" @click.stop="remove(props.row)">
            <evan-remove-icon />
          </q-td>
          <q-td v-else auto-width></q-td>
        </template>
      </q-table>
    </q-card>

    <evan-editor :obj="tmpObj" :save-event-name="saveEventName">
      <div class="q-gutter-md">
        <q-input v-show="tmpObj.code" filled dense v-model="tmpObj.code" readonly label="Code"></q-input>
        <q-input filled dense v-model.number="tmpObj.value" label="Coupon value" type="number" prefix="€"></q-input>
        <q-input filled dense v-model="tmpObj.notes" label="Notes" type="textarea" autogrow></q-input>
      </div>
    </evan-editor>

  </div>
{% endverbatim %}
</script>
