{% load static %}


<script type="text/x-template" id="v-event">
{% verbatim %}
  <div v-cloak v-if="event">

    <q-card flat class="q-pa-lg">
      <display-5>Event information</display-5>
      <div class="q-col-gutter-md row items-start q-mb-md">
        <q-input filled dense v-model="event.code" readonly label="Evan ID" class="col-12 col-sm-4"></q-input>
        <evan-datepicker v-model="event.start_date" label="Start date *" class="col-12 col-sm-4"></evan-datepicker>
        <evan-datepicker v-model="event.end_date" label="End date *" class="col-12 col-sm-4"></evan-datepicker>
      </div>
      <div class="q-col-gutter-md row items-start q-mb-md">
        <evan-datepicker v-model="event.registration_start_date" label="Registration start date *" class="col-12 col-sm-4"></evan-datepicker>
        <evan-datepicker v-model="event.registration_early_deadline" label="Registration early deadline" :allow-null="true" :with-time="true" hint="Needed if you have early registration fees." class="col-12 col-sm-4"></evan-datepicker>
        <evan-datepicker v-model="event.registration_deadline" label="Registration deadline *" :with-time="true" class="col-12 col-sm-4" :hint="(open) ? 'Registrations open.' : 'Registrations closed.'" :hint-class="(open) ? 'text-bold text-positive' : 'text-bold text-red-5'"></evan-datepicker>
      </div>
      <div class="q-col-gutter-lg row q-mb-md" :class="{'q-mt-lg': $q.screen.gt.sm}">
        <div class="col-12 col-md-6">
          <div class="q-gutter-md">
            <q-input filled dense v-model="event.name" label="Name *"></q-input>
            <q-input filled dense autogrow v-model="event.full_name" label="Full name *"></q-input>
            <q-input filled dense autogrow v-model="event.presentation" label="Presentation *" hint="You can use Markdown to format your text."></q-input>
            <q-input filled dense v-model="event.website" label="Website"></q-input>
            <q-input filled dense v-model="event.hashtag" label="Hashtag" prefix="#"></q-input>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <q-card flat bordered class="full-width">
            <q-card-section>
              <h5 class="q-mt-none q-mb-md">
                <strong>{{ event.name }}</strong><br>{{ event.full_name }}</h5>
            </q-card-section>
            <q-card-section class="q-pt-none">
              <p class="text-grey-8">
                <q-icon name="date_range" class="q-mr-sm" />{{ dates }}<br>
                <span v-if="event.is_virtual"><q-icon name="devices" class="q-mr-sm" />Virtual event</span>
                <span v-else><q-icon name="place" class="q-mr-sm" />{{ event.city }}, {{ event.country.name }}</span>
              </p>
              <marked :text="event.presentation"></marked>
            </q-card-section>
            <q-separator inset />
            <q-card-section>
              <span v-if="event.website">
                <a :href="event.website" target="_blank" class="inherit text-primary">
                  <q-icon name="link" class="q-mr-sm" />Website: <strong>{{ event.website }}</strong></a>
                <br>
              </span>
              <a :href="'https://evan.ugent.be/r/' + event.code + '/'" target="_blank" class="inherit text-primary">
                <q-icon name="assignment_turned_in" class="q-mr-sm" />Registrations: <strong>evan.ugent.be/r/{{ event.code }}</strong></a><br>
              <a v-if="event.hashtag" :href="'https://twitter.com/search?q=%23' + event.hashtag" target="_blank" class="inherit text-primary">
                <q-icon name="search" class="q-mr-sm" />Hashtag: <strong>#{{ event.hashtag }}</strong></a>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </q-card>

  </div>
{% endverbatim %}
</script>
