{% load static %}


<script type="text/x-template" id="v-registrations">
{% verbatim %}
  <div v-if="event">

    <q-card flat class="q-pa-lg">
      <div class="row no-wrap q-mb-sm">
        <display-5>Registrations</display-5>
        <q-space />
        <div>
          <q-btn no-caps outline rounded type="a" href="{% endverbatim %}{% url 'event:registrations_sheet' event.code %}{% verbatim %}" target="_blank" color="primary" label="Download overview"></q-btn>
        </div>
      </div>
      <evan-search-bar v-model="query" :filters="filtersWithCountries" placeholder="Search by ID, attendee name, affiliation..." />
      <q-table :dense="$q.screen.gt.sm" row-key="uuid" :rows="registrations" :columns="table.columns" :pagination="table.pagination" :filter="query" :filter-method="customFilter" @row-click="function (e, row) { cloneObj(row) }">
        <template v-slot:no-data="{ icon, message, filter }">
          <evan-no-data :message="message" :filter="filter" />
        </template>
        <template v-slot:body-cell-view="props">
          <q-td auto-width :props="props">
            <q-icon name="visibility" color="primary" />
          </q-td>
        </template>
        <template v-slot:body-cell-uuid="props">
          <q-td auto-width :props="props">
            <samp>{{ props.row.uuid }}</samp>
          </q-td>
        </template>
        <template v-slot:body-cell-created_at="props">
          <q-td auto-width :props="props">{{ props.row.date }}</q-td>
        </template>
        <template v-slot:body-cell-visa_status="props">
          <q-td auto-width :props="props" class="items-center">
            <span v-if="props.row.visa_requested">
              <evan-yes-chip v-if="props.row.visa_sent" />
              <evan-yes-chip v-else color="orange-5" icon="radio_button_unchecked" />
            </span>
            <evan-no-chip v-else />
          </q-td>
        </template>
        <template v-slot:body-cell-invoice_status="props">
          <q-td auto-width :props="props" class="items-center">
            <span v-if="props.row.invoice_requested">
              <evan-yes-chip v-if="props.row.invoice_sent" />
              <evan-yes-chip v-else color="orange-5" icon="radio_button_unchecked" />
            </span>
            <evan-no-chip v-else />
          </q-td>
        </template>
        <template v-slot:body-cell-payment_status="props">
          <q-td auto-width :props="props" class="items-center">
            <evan-yes-chip v-if="props.row.is_paid" />
            <evan-no-chip v-else />
          </q-td>
        </template>
      </q-table>
    </q-card>

    <evan-editor size="md" position="standard" :obj="tmpObj">
      <q-list dense>
        <q-item>
          <q-item-section avatar><q-icon name="tag" /></q-item-section>
          <q-item-section><samp>{{ tmpObj.uuid }}</samp></q-item-section>
        </q-item>
        <q-separator inset="item"></q-separator>
        <q-item>
          <q-item-section avatar><q-icon name="schedule" /></q-item-section>
          <q-item-section>{{ tmpObj.date }}</q-item-section>
        </q-item>
        <q-separator inset="item"></q-separator>
        <q-item>
          <q-item-section avatar><q-icon name="accessibility_new" /></q-item-section>
          <q-item-section><strong>{{ tmpObj.user_name }}</strong></q-item-section>
          <q-item-section side v-if="tmpObj.user.profile.custom_data.gender">
            <q-icon :name="tmpObj.user.profile.custom_data.gender" size="14px" />
          </q-item-section>
        </q-item>
        <q-separator inset="item"></q-separator>
        <q-item>
          <q-item-section avatar><q-icon name="email" /></q-item-section>
          <q-item-section>{{ tmpObj.user.email }}</q-item-section>
          <q-item-section side v-if="tmpObj.user.profile.custom_data.gender">
            <evan-copy-icon :text="tmpObj.user.email" size="14px" />
          </q-item-section>
        </q-item>
        <q-separator inset="item"></q-separator>
        <q-item>
          <q-item-section avatar><q-icon name="business" /></q-item-section>
          <q-item-section>{{ tmpObj.user_affiliation }}</q-item-section>
        </q-item>
        <q-separator v-if="tmpObj.user.profile.country" inset="item" />
        <q-item v-if="tmpObj.user.profile.country">
          <q-item-section avatar>
            <country-flag :code="tmpObj.user.profile.country.code"></country-flag>
          </q-item-section>
          <q-item-section>{{ tmpObj.user.profile.country.name }}</q-item-section>
        </q-item>
        <q-separator v-if="tmpObj.invoice_requested" inset="item"></q-separator>
        <q-item v-if="tmpObj.invoice_requested">
          <q-item-section avatar><q-icon name="grading" :color="(tmpObj.invoice_sent) ? 'positive' : 'orange-7'" /></q-item-section>
          <q-item-section v-if="tmpObj.invoice_sent" class="text-positive text-bold">Invoice sent</q-item-section>
          <q-item-section v-else class="text-orange-7 text-bold">Invoice requested (not sent)</q-item-section>
        </q-item>
        <q-separator inset="item"></q-separator>
        <q-item v-if="tmpObj.is_paid">
          <q-item-section avatar><q-icon name="done_outline" color="positive" /></q-item-section>
          <q-item-section class="text-positive text-bold">Paid</q-item-section>
        </q-item>
        <q-item v-else>
          <q-item-section avatar><q-icon name="radio_button_unchecked" color="orange-7" /></q-item-section>
          <q-item-section class="text-orange-7 text-bold">Pending payment</q-item-section>
        </q-item>
        <q-separator v-if="tmpObj.coupon" inset="item" class="q-mb-sm"/>
        <q-item v-if="tmpObj.coupon">
          <q-item-section avatar><q-icon name="local_activity" /></q-item-section>
          <q-item-section>
            <q-item-label><samp>{{ tmpObj.coupon.code }}</samp></q-item-label>
            <q-item-label caption>{{ tmpObj.coupon.notes }} (€ {{ tmpObj.coupon.value }})</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </evan-editor>

  </div>
{% endverbatim %}
</script>
