{% load static %}


<script type="text/x-template" id="{{ id }}">
{% verbatim %}
    <div v-cloak v-if="event" class="bg-lighter p-4">
        <div class="float-right input-group w-50">
            <input v-model="query" type="text" class="form-control" placeholder="Search code, attendee, affiliation, status, country...">
            <div class="input-group-append">
                <div v-if="query" @click="query = ''" class="input-group-text pointer">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <div v-else class="input-group-text"><i class="material-icons">&#xE8B6;</i></div>
            </div>
        </div>
        <h4 class="text-secondary mb-4">Registrations</h4>
        <div v-if="items.length" class="float-right">
            <small class="text-secondary">
                <i v-if="items.length < registrations.length" class="material-icons mr-1">&#xE152;</i>
                <span>Showing {{ items.length }} of {{ registrations.length }}</span>
            </small>
        </div>
        {% endverbatim %}
            <div class="mb-3">
                <a target="_blank" :href="'{% url 'event:badges' event.code %}?order_by='+event.badge.order_by" class="mr-4">
                    <span><i class="material-icons mr-2">&#xE0BA;</i>Download badges</span>
                </a>
                <a target="_blank" href="{% url 'event:registrations_csv' event.code %}">
                    <span><i class="material-icons mr-2">&#xE02F;</i>Download CSV</span>
                </a>
            </div>
        {% verbatim %}
        <div v-if="items.length">
            <table class="table table-sm table-responsive-sm mb-0">
                <thead>
                    <tr>
                        <th class="sm pl-0">ID</th>
                        <th>Attendee</th>
                        <th class="md">Date</th>
                        <th class="sm">Email</th>
                        <th class="sm text-center">Visa</th>
                        <th class="sm text-center">Invoice</th>
                        <th class="sm text-center">Status</th>
                        <th class="sm"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in items">
                        <th scope="row" class="text-nowrap pr-3 pl-0"><samp><small>{{ item.uuid }}</small></samp></th>
                        <td>
                            <span>{{ item.user.first_name }} {{ item.user.last_name }}</span>
                            <span v-if="item.user.profile.affiliation">, {{ item.user.profile.affiliation }}</span>
                        </td>
                        <td class="text-nowrap">{{ item._date }}</td>
                        <td class="py-2 text-center">
                            <a :href="'mailto:'+item.user.email" target="_blank" class="badge badge-info">
                                <i class="material-icons">&#xE158;</i>
                            </a>
                        </td>
                        <td class="text-center">
                            <span v-if="item.visa_requested && item.visa_sent" class="badge badge-success">
                                <i class="material-icons mr-1">check</i>Yes</span>
                            <span v-else-if="item.visa_requested && !item.visa_sent" class="badge badge-warning text-white">
                                <i class="material-icons mr-1">radio_button_unchecked</i>Yes</span>
                            <span v-else class="badge badge-secondary text-white">No</span>
                        </td>
                        <td class="text-center">
                            <span v-if="item.invoice_requested && item.invoice_sent" class="badge badge-success">
                                <i class="material-icons mr-1">check</i>Yes</span>
                            <span v-else-if="item.invoice_requested && !item.invoice_sent" class="badge badge-warning text-white">
                                <i class="material-icons mr-1">radio_button_unchecked</i>Yes</span>
                            <span v-else class="badge badge-secondary text-white">No</span>
                        </td>
                        <td class="text-center">
                            <span v-if="item.isPaid" class="badge badge-success">
                                <i class="material-icons mr-1">check</i>Paid</span>
                            <span v-else class="badge badge-warning text-white">Pending</span>
                        </td>
                        <td class="pr-0">
                            <router-link :to="{name: 'registration-detail', params: {uuid: item.uuid}}">
                                <i class="material-icons">&#xE5C8;</i>
                            </router-link>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p v-else class="text-info">No registrations found <em v-if="q">for "{{ q }}"</em></p>
    </div>
{% endverbatim %}
</script>
