{% load static %}


<script type="text/x-template" id="v-registrations">
{% verbatim %}
  <div v-cloak v-if="event">

    <q-card flat class="q-pa-lg">
      <div class="row no-wrap q-mb-sm">
        <display-5>Registrations</display-5>
        <q-space />
        <div>
          <q-btn no-caps outline rounded type="a" href="{% endverbatim %}{% url 'event:registrations_sheet' event.code %}{% verbatim %}" target="_blank" color="primary" label="Download overview"></q-btn>
        </div>
      </div>
      <q-input filled dense v-model="query" placeholder="Search by ID, attendee name, affiliation, country..." type="search" class="q-mb-md">
        <template v-slot:append>
          <q-icon v-if="query !== ''" name="close" @click="query = ''" class="cursor-pointer" />
          <q-icon name="search" />
        </template>
      </q-input>
      <evan-registrations-table :data="items" :uuid="uuid"></evan-registrations-table>
    </q-card>

  </div>
{% endverbatim %}
</script>
