<script type="text/x-template" id="v-sessions">
{% verbatim %}
  <div v-cloak v-if="event">

    <q-card flat class="q-pa-lg">
      <div class="row no-wrap q-mb-sm">
        <display-5>Sessions</display-5>
        <q-space />
        <div>
          <q-btn no-caps outline rounded @click="addObj" color="primary" label="Add session" />
        </div>
      </div>
      <table v-if="event">
        <tbody>
          <tr v-for="obj in sessions" :key="obj.id">
            <td>{{ obj.id }}</td>
            <td><a href="#" @click.prevent="tmpObj = obj">{{ obj.title }}</a></td>
            <td>
              <a v-if="!event.is_closed" @click.stop="remove(obj)"><evan-remove-icon /></a>
            </td>
          </tr>
        </tbody>
      </table>
    </q-card>

    <evan-editor size="lg" :obj="tmpObj" :save-event-name="saveEventName">
      <div v-if="tmpObj" class="q-gutter-md">
        <evan-datepicker v-model="tmpObj.date" label="Date *"></evan-datepicker>
        <q-input filled dense v-model="tmpObj.title" label="Title *" />
        <evan-markdown v-model="tmpObj.summary" label="Summary"></evan-markdown>
        <q-input filled dense v-model="tmpObj.website" label="External website" type="url" />
      </div>
    </evan-editor>
  </div>
{% endverbatim %}
</script>
