<script type="text/x-template" id="{{ id }}">
{% verbatim %}
    <div v-cloak v-if="event" class="bg-lighter p-4">
        <div v-if="session">
            <p class="mb-2 ml-4 float-right">
                <a href="#" @click.prevent="$router.go(-1)" class="btn btn-sm btn-outline-secondary">Close</a>
            </p>
            <div v-if="!event.is_closed" class="float-right mb-4 dropdown">
                <a href="#" class="text-warning text-underline" data-toggle="dropdown">
                    <small>Delete session</small>
                </a>
                <div class="dropdown-menu dropdown-menu-right p-3 w-75">
                    <p class="text-sm mb-1"><strong>Are you sure?</strong></p>
                    <p class="text-sm">Deleting a session will remove it from all registrations. <strong v-if="event.is_open_for_registration">Registrations started on "{{ event.registration_start_date }}".</strong></p>
                    <button @click.prevent="destroy(session.id)" class="btn btn-sm btn-danger pointer">Delete session</button>
                </div>
            </div>
            <h4 class="text-secondary mb-4">Session on {{ session.day }}<br><em>{{ session.title }}</em></h4>
            <div class="row">
                <div class="col-12 col-md-4 form-group">
                    <label>Date <small class="text-danger">*</small></label>
                    <input v-model="session.date" @input="update(session)" type="text" class="form-control" placeholder="YYYY-MM-DD">
                </div>
                <div class="col-6 col-md-4 form-group">
                    <label>Starting time <small class="text-danger">*</small></label>
                    <input v-model="session.start_at" @input="update(session)" type="text" class="form-control" placeholder="hh:mm">
                </div>
                <div class="col-6 col-md-4 form-group">
                    <label>Ending time <small class="text-danger">*</small></label>
                    <input v-model="session.end_at" @input="update(session)" type="text" class="form-control" placeholder="hh:mm">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 form-group">
                    <label>Room</label>
                    <select v-model="session.room" @change="update(session)" class="form-control">
                        <option :value="null">(unknown)</option>
                        <optgroup v-for="venue in event.venues" :label="venue.name">
                            <option v-for="room in venue.rooms" :value="room.id">{{ room.name }}</option>
                        </optgroup>
                    </select>
                </div>
                <div class="col-6 col-md-4 form-group">
                    <label>Max. attendees</label>
                    <input v-model="session.max_attendees" @input="update(session)" type="number" class="form-control">
                    <small class="form-text text-muted">Leave as "0" is there is no limit.</small>
                </div>
                <div class="col-6 col-md-4 form-group">
                    <label>Extra attendees fee</label>
                    <input v-model="session.extra_attendees_fee" @input="update(session)" type="number" class="form-control">
                    <small class="form-text text-muted">It will be applied to accompanying persons.</small>
                </div>
            </div>
            <div class="form-group">
                <label>Track <small class="text-danger">*</small></label><br>
                <div v-for="track in tracks" class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input v-model="session.track" :value="track.id" @change="update(session)" type="radio" class="form-check-input">{{ track.name }}</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Title <small class="text-danger">*</small></label>
                        <input v-model.trim="session.title" @input="update(session)" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Summary <small class="text-danger">*</small></label>
                        <textarea v-model.trim="session.summary" @input="update(session)" rows="20" class="form-control"></textarea>
                        <small class="form-text text-muted">You can use <a href="https://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a> to style this text.</small>
                    </div>
                    <div class="form-group">
                        <label>Website</label>
                        <input v-model.trim="session.website" @input="update(session)" type="url" class="form-control" placeholder="https://...">
                    </div>
                </div>
                <div class="col d-none d-md-block">
                    <small class="d-block text-secondary mb-2"><i class="material-icons mr-1">&#xE8F4;</i>Preview</small>
                    <div class="bg-semi rounded p-4">
                        <h3 class="mb-3">{{ session.title }}</h3>
                        <p v-if="session.track" class="mb-0">
                            <i class="material-icons mr-1">&#xE892;</i><em>Track: {{ session._track }}</em>
                        </p>
                        <p v-if="session.room">
                            <i class="material-icons mr-1">&#xE55E;</i><em>Room: {{ valueRoom(session.room) }}</em>
                        </p>
                        <div class="mt-3" v-html="markedSummary"></div>
                        <div v-if="session.website">
                            <hr class="my-4">
                            <p class="mb-0 text-primary">
                                <a :href="session.website" target="_blank">
                                    <i class="material-icons mr-1">&#xE250;</i>External website</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="topics.length" class="form-group">
                <label>Topics</label><br>
                <div v-for="topic in topics" class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input v-model="session.topics" :value="topic.id" @change="update(session)" type="checkbox" class="form-check-input">{{ topic.name }}</label>
                </div>
                <small class="form-text text-muted">Session organizers can update all this information themselves.</small>
            </div>
            <hr>
            <label>Invite organizers</label>
            <input type="email" class="form-control" placeholder="Organizer's email">
            <button class="btn btn-sm btn-outline-secondary pointer mt-2">Invite</button>
        </div>
        <div v-else>
            <h1 class="text-warning">404 Not Found</h1>
        </div>
    </div>
{% endverbatim %}
</script>
