<script type="text/x-template" id="v-stats">
{% verbatim %}
  <div v-if="event">

    <q-card flat class="q-pa-lg">
      <display-5>Stats</display-5>
      <q-list class="q-mb-md">
        <q-item class="q-py-xs" :to="{name: 'registrations'}">
          <q-item-section avatar>
            <stats-progress :value="100" color="blue">{{ totalRegistrations }}</stats-progress>
          </q-item-section>
          <q-item-section><strong>Registrations</strong></q-item-section>
        </q-item>
      </q-list>
      <div class="row q-col-gutter-md">
        <div v-if="countriesBlock.length" class="col-12 col-sm-6 col-md-3">
          <q-list class="q-mb-md">
            <q-item-label header>Countries</q-item-label>
            <q-item v-for="(country, i) in countriesBlock" :to="{name: 'registrations', query: {q: country.key}}" v-show="i < limit" class="q-py-xs">
              <q-item-section avatar>
                <stats-progress :value="(country.count / totalRegistrations) * 100">{{ country.count }}</stats-progress>
              </q-item-section>
              <q-item-section>{{ country.name }}</q-item-section>
            </q-item>
            <q-item v-if="countriesBlock.length > 5" clickable @click.prevent="limit = (limit == 5) ? 500 : 5">
              <q-item-section avatar>
                <q-icon :name="(limit == 5) ? 'expand_more' : 'expand_less'" color="grey-6" class="q-ml-sm" />
              </q-item-section>
              <q-item-section>
                <q-item-label caption v-if="limit == 5">Show more</q-item-label>
                <q-item-label caption v-else>Show less</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </div>
        <div v-for="block in blocks" class="col-12 col-sm-6 col-md-3">
          <q-list class="q-mb-md">
            <q-item-label header>{{ block.label }}</q-item-label>
            <q-item v-for="item in block.items" v-show="totalRegistrations && stats[item.key]" :to="{name: 'registrations', query: {q: item.key}}" class="q-py-xs">
              <q-item-section avatar>
                <stats-progress :value="(stats[item.key] / (stats[item.compare] || totalRegistrations)) * 100">{{ stats[item.key] }}</stats-progress>
              </q-item-section>
              <q-item-section>{{ item.label }}</q-item-section>
            </q-item>
          </q-list>
        </div>
      </div>
    </q-card>

  </div>
{% endverbatim %}
</script>
