<script type="text/x-template" id="v-topics">
{% verbatim %}
  <div v-cloak v-if="event">

    <q-card flat class="full-height q-pa-lg">
      <div class="row no-wrap q-mb-sm">
        <display-5>Topics</display-5>
        <q-space />
        <div>
          <q-btn no-caps outline rounded @click="addObj" color="primary" label="Add topic" />
        </div>
      </div>
      <q-table dense row-key="id" :data="topics" :columns="table.columns" :pagination="table.pagination" @row-click="function (e, row) { cloneObj(row) }">
        <template v-slot:bottom></template>
        <template v-slot:no-data="{ icon, message, filter }">
          <evan-no-data :message="message" :filter="filter"></evan-no-data>
        </template>
        <template v-slot:body-cell-edit="props">
          <q-td auto-width :props="props">
            <evan-edit-icon />
          </q-td>
        </template>
        <template v-slot:body-cell-remove="props">
          <q-td v-if="!event.is_closed" auto-width :props="props" @click.stop="remove(props.row)">
            <evan-remove-icon />
          </q-td>
          <q-td v-else auto-width></q-td>
        </template>
      </q-table>
    </q-card>

    <evan-editor :obj="tmpObj" :save-event-name="saveEventName">
      <div v-if="tmpObj" class="q-gutter-md">
        <q-input filled dense v-model="tmpObj.name" label="Topic" type="text"></q-input>
      </div>
    </evan-editor>

  </div>
{% endverbatim %}
</script>
