<script type="text/x-template" id="{{ id }}">
{% verbatim %}
    <div v-cloak v-if="event" class="bg-lighter p-4">
        <div class="row">
            <div class="col-12 col-md-4">
                <h4 class="text-secondary mb-4">Venues & rooms</h4>
                <div class="input-group my-4">
                    <input v-model="venue.name" type="text" class="form-control" placeholder="New venue...">
                    <span class="input-group-append">
                        <button class="btn btn-primary pointer" @click.prevent="create()" type="button" :disabled="venue.name == ''">Add</button>
                    </span>
                </div>
                <div v-for="item in items" class="rounded bg-semi py-2 px-3 mb-2 pointer" @click="selected = item.id" :class="{'bg-warning': selectedId == item.id}">
                    <span><i class="material-icons mr-2">&#xE55F;</i>{{ item.name }}</span>
                </div>
                <div class="dropdown mt-4">
                    <small class="text-secondary pointer" data-toggle="dropdown"><i class="material-icons">&#xE88F;</i> Help</small>
                    <div class="dropdown-menu p-3">
                        <p class="text-sm">Venues and rooms are used to provide extra information to the attendees. Rooms can be assigned to the different sessions in the programme.</p><p class="text-sm mb-0">If a room has maximum capacity set, a notification will be shown if registrations for a session exceed that capacity.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div v-for="(venue, index) in event.venues" v-if="venue.id == selectedId">
                    <div disabled-v-if="!event.is_closed" class="text-right mb-4 dropdown">
                        <a href="#" class="text-warning text-underline" data-toggle="dropdown">
                            <small>Delete venue</small>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right p-3 w-50">
                            <p class="text-sm mb-1"><strong>Are you sure?</strong></p>
                            <p class="text-sm">This will also remove the rooms for the venue, so this information won't be shown anymore for the sessions.</p>
                            <button @click.prevent="destroy(venue)" class="btn btn-sm btn-danger pointer">Delete {{ venue.name }}</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Name <small class="text-danger">*</small></label>
                        <input v-model.trim="venue.name" @input="update(venue)" type="text" class="form-control">
                    </div>
                    <div class="row">
                        <div class="col col-md-8 form-group">
                            <label>Address <small class="text-danger">*</small></label>
                            <input v-model.trim="venue.address" @input="update(venue)" type="text" class="form-control">
                        </div>
                        <div class="col col-md-4 form-group">
                            <label>City <small class="text-danger">*</small></label>
                            <input v-model.trim="venue.city" @input="update(venue)" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Presentation</label>
                        <textarea v-model.trim="venue.presentation" @input="update(venue)" rows="8" class="form-control"></textarea>
                        <small class="form-text text-muted">You can use <a href="https://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a> to style this text.</small>
                    </div>
                    <div class="form-group">
                        <label>Website</label>
                        <input v-model.trim="venue.website" @input="update(venue)" type="url" class="form-control" placeholder="https://...">
                    </div>
                    <div class="mb-2 dropdown">
                        <a href="#" data-toggle="dropdown">
                            <span><i class="material-icons mr-2">&#xE148;</i>Add room</span>
                        </a>
                        <div class="dropdown-menu p-3">
                            <div class="form-group">
                                <label for="roomName">Room name <small class="text-danger">*</small></label>
                                <input v-model.trim="room.name" type="text" class="form-control" id="couponValue">
                            </div>
                            <div class="form-group">
                                <label for="roomCapacity">Max. capacity</label>
                                <input v-model.number="room.max_capacity" type="text" class="form-control" id="roomCapacity">
                            </div>
                            <button @click.prevent="createRoom(venue)" :disabled="room.name == ''" class="btn btn-primary btn-block pointer">Add new room</button>
                        </div>
                    </div>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th class="pl-0">Rooms</th>
                                <th class="md">Capacity</th>
                                <th class="md">Order</th>
                                <th class="sm"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(room, index) in venue.rooms">
                                <td class="pl-0"><input v-model="room.name" @input="updateRoom(room)" type="text" class="form-control form-control-sm" placeholder="Name" :disabled="saving"></td>
                                <td><input v-model="room.max_capacity" @input="updateRoom(room)" type="number" class="form-control form-control-sm" placeholder="Max. capacity" :disabled="saving"></td>
                                <td><input v-model="room.position" @input="updateRoom(room)" type="number" class="form-control form-control-sm" :disabled="saving"></td>
                                <td @click="destroyRoom(venue, room)" class="pointer">
                                    <i class="material-icons text-danger" placeholder="Order">&#xE5CD;</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div v-if="venue.lat">
                        <hr class="my-4">
                        <label>Location (automatic)</label>
                        <div class="row">
                            <div class="col-12 col-md-6 form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">lat</div>
                                    </div>
                                    <input v-model.trim="venue.lat" type="text" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">lng</div>
                                    </div>
                                    <input v-model.trim="venue.lng" type="text" class="form-control" disabled>
                                </div>
                            </div>
                        </div>
                        <img class="d-none d-lg-block rounded w-100" :src="staticmap(venue)">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endverbatim %}
</script>
