<script type="text/x-template" id="v-venues">
{% verbatim %}
  <div v-if="event">

    <q-card flat class="q-pa-lg">
      <div class="row no-wrap q-mb-sm">
        <display-5>Venues & rooms</display-5>
        <q-space />
        <div>
          <q-btn no-caps outline rounded @click="addObj" color="primary" label="Add venue" />
        </div>
      </div>
      <q-table :dense="$q.screen.gt.sm" row-key="id" :rows="venues || []" :columns="table.columns" :pagination="table.pagination" @row-click="function (e, row) { cloneObj(row) }">
        <template v-slot:bottom></template>
        <template v-slot:no-data="{ icon, message, filter }">
          <evan-no-data :message="message" :filter="filter" />
        </template>
        <template v-slot:body-cell-edit="props">
          <q-td auto-width :props="props">
            <evan-edit-icon />
          </q-td>
        </template>
        <template v-slot:body-cell-remove="props">
          <q-td v-if="!event.is_closed" auto-width :props="props" @click.stop="remove(props.row)">
            <evan-remove-icon />
          </q-td>
          <q-td v-else auto-width></q-td>
        </template>
      </q-table>
    </q-card>

    <evan-editor size="lg" :obj="obj" :save-event-name="saveEventName">
      <div class="q-gutter-md">
        <q-input filled dense v-model="obj.name" label="Venue name"></q-input>
        <q-input filled dense v-model="obj.city" label="City"></q-input>
        <evan-markdown v-model="obj.presentation" label="Presentation"></evan-markdown>
        <q-input filled dense v-model="obj.website" label="Website"></q-input>
        <q-input filled dense v-model="obj.gmaps" label="Google Maps"></q-input>
      </div>
    </evan-editor>

  </div>
{% endverbatim %}
</script>
