{% extends 'layout.html' %}

{% load static %}


{% block title %}{{ block.super }}{% endblock %}

{% block content %}
    <main class="container py-5">
        <div class="row mt-5">
            <div class="col-3 col-sm-3 col-lg-2">
                <a href="{% url 'homepage' %}">
                    <img class="logo logo-lg" src="{% static 'images/toucon.svg' %}">
                </a>
            </div>
            <div class="col col-sm-9 col-lg-6">
                <h3 class="font-weight-light"><strong>Toucon</strong> is a conference assistant that helps you collect registration fees, manage attendees, organize your conference's website and track the real-time status of your event.</h3>
            </div>
            <div class="col col-lg-4">
                <p class="float-right">
                    {% if user.is_authenticated %}
                        <a href="{% url 'dashboard' %}" target="_blank" class="btn btn-primary">
                            <i class="material-icons mr-2">&#xE1AF;</i>My dashboard</a>
                    {% else %}
                        <a href="{% url 'account_signup' %}" class="btn btn-primary mr-2">
                            <i class="material-icons mr-2">&#xE254;</i>Sign up</a>
                        <a href="{% url 'account_login' %}" class="btn btn-outline-primary">Log in</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </main>
{% endblock %}
