{% extends 'user/base.html' %}

{% load crispy_forms_tags %}


{% block head_title %}Emails - Settings - {{ block.super }}{% endblock %}

{% block content %}
    <h4 class="mb-4">Emails</h4>

    {% if user.emailaddress_set.all %}
        <p>The following e-mail addresses are associated with your Toucon account. The primary email will be used for communications:</p>

        <form method="post" action="{% url 'account_email' %}">
            {% csrf_token %}
            <table class="table table-sm no-borders">
            {% for emailaddress in user.emailaddress_set.all %}
                <tr>
                    <td>
                        <div class="custom-control custom-radio">
                            <input id="email_radio_{{ forloop.counter }}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{ emailaddress.email }}" class="custom-control-input">
                            <label class="custom-control-label" for="email_radio_{{ forloop.counter }}">
                                <span>{{ emailaddress.email }}</span>
                                {% if emailaddress.primary %}
                                    <span class="badge badge-success ml-2">primary</span>
                                {% endif %}
                            </label>
                        </div>
                    </td>
                    <td class="text-right pl-2">
                        {% if emailaddress.verified %}
                            <small>verified</small>
                        {% else %}
                            <small class="text-danger">unverified</small>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>
            <div class="mt-4">
                <button type="submit" name="action_primary" class="btn btn-sm btn-outline-primary mr-4">Make primary</button>
                <button type="submit" name="action_send" class="btn btn-sm btn-light mr-2">Re-send verification</button>
                <button type="submit" name="action_remove" class="btn btn-sm btn-light text-danger">Remove</button>
            </div>
        </form>
    {% else %}
        <p><strong>Warning:</strong> you currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc.</p>
    {% endif %}
    <hr class="my-5">
    <h6 class="mb-3">Add secondary emails</h6>
    <form method="post" action="{% url 'account_email' %}">
        {% csrf_token %}
        {{ form | crispy }}
        <button name="action_add" type="submit" class="btn btn-primary mt-2">Add email</button>
    </form>
{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript">
        (function() {
            var message = 'Do you really want to remove the selected e-mail address?';
            var actions = document.getElementsByName('action_remove');
            if (actions.length) {
                actions[0].addEventListener("click", function(e) {
                    if (!confirm(message)) {
                        e.preventDefault();
                    }
                });
            }
        })();
    </script>
{% endblock %}
