{% extends 'ugent.html' %}


{% block content %}
  <div class="row q-my-lg" :class="{'q-mt-xl': $q.screen.gt.sm}">
    <div class="col-12 col-md-2 q-pr-xl"></div>
    <div class="col-12 col-md-6 col-lg-5 q-pb-xl">
      <h3 class="q-my-xl">Evan is an event assistant that helps you collect registration fees, manage attendees, organize your website and track the real-time status of your event.</h3>
      <div class="q-gutter-md">
        {% if user.is_authenticated %}
          <q-btn unelevated square type="a" href="{% url 'dashboard' %}" color="primary" icon="donut_large" label="My dashboard"></q-btn>
        {% else %}
          <q-btn outline square type="a" href="{% url 'account_login' %}" icon="vpn_key" color="primary" label="Sign in"></q-btn>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
