<script type="text/x-template" id="{{ id }}">
{% verbatim %}
    <div v-cloak v-if="conference" class="bg-lighter p-4">
        <div class="float-right input-group w-50">
            <input v-model="query" type="text" class="form-control" placeholder="Search day, track, title...">
            <span v-if="query" @click="query = ''" class="input-group-addon pointer">
                <i class="material-icons">&#xE5CD;</i>
            </span>
            <span v-else class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
        </div>
        <h4 class="text-secondary mb-4">Sessions</h4>
        <div v-if="items.length" class="float-right">
            <small class="text-secondary">
                <i v-if="items.length < conference.sessions.length" class="material-icons mr-1">&#xE152;</i>
                <span>Showing {{ items.length }} of {{ conference.sessions.length }}</span>
            </small>
        </div>
        <div class="mb-3 dropdown">
            <a href="#" data-toggle="dropdown">
                <span><i class="material-icons mr-2">&#xE148;</i>New session</span>
            </a>
            <div class="dropdown-menu p-3">
                <div class="form-group">
                    <label for="sessionDate">Date <small class="text-danger">*</small></label>
                    <input v-model.trim="session.date" type="text" class="form-control" id="sessionDate" placeholder="YYYY-MM-DD">
                </div>
                <div class="form-group">
                    <label for="sessionTitle">Session title <small class="text-danger">*</small></label>
                    <input v-model.trim="session.title" type="text" class="form-control" id="sessionTitle">
                </div>
                <button @click.prevent="create()" :disabled="session.title == ''" class="btn btn-primary btn-block pointer">Create new session</button>
            </div>
        </div>
        <div v-if="items.length">
            <table class="table table-sm table-responsive-sm mb-0">
                <thead>
                    <tr>
                        <th class="date pl-0">Date</th>
                        <th class="hour">Start</th>
                        <th class="hour">End</th>
                        <th>Session</th>
                        <th class="sm">Track</th>
                        <th class="sm"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in items">
                        <td class="text-nowrap pr-3 pl-0">
                            <input v-model.trim="item.date" @input="update(item)" type="text" class="form-control form-control-sm" :disabled="saving">
                        </td>
                        <td class="text-nowrap pr-3">
                            <input v-model.trim="item.start_at" @input="update(item)" type="time" class="form-control form-control-sm" :disabled="saving" maxlength="5">
                        </td>
                        <td class="text-nowrap pr-3">
                            <input v-model.trim="item.end_at" @input="update(item)" type="time" class="form-control form-control-sm" :disabled="saving" maxlength="5">
                        </td>
                        <td class="pr-3">{{ item.title }}</td>
                        <td>
                            <span v-if="item.track" class="badge badge-secondary">{{ item._track }}</span>
                        </td>
                        <td class="pr-0">
                            <router-link :to="{name: 'session-detail', params: {id: item.id}}">
                                <i class="material-icons">&#xE5C8;</i>
                            </router-link>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p v-else class="text-info">No sessions found <em v-if="q">for "{{ q }}"</em></p>
    </div>
{% endverbatim %}
</script>
