<script type="text/x-template" id="{{ id }}">
{% verbatim %}
    <div v-cloak v-if="conference" class="bg-lighter p-4">
        <h4 class="text-secondary mb-4">Tracks & topics</h4>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="input-group mb-4">
                    <input v-model="track.name" type="text" class="form-control" placeholder="New track...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary pointer" @click.prevent="createTrack()" type="button" :disabled="track.name == ''">Add</button>
                    </span>
                </div>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th colspan="3">Tracks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in tracks" class="py-2 px-3 mb-2">
                            <td class="sm"><i class="material-icons">&#xE893;</i></td>
                            <td><input v-model.trim="item.name" @input="updateTrack(item)" type="text" class="form-control form-control-sm" placeholder="Track name" :disabled="saving"></td>
                            <td @click.prevent="destroyTrack(item)" class="sm pointer">
                                <i class="material-icons text-danger">&#xE5CD;</i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="dropdown">
                    <small class="text-secondary pointer" data-toggle="dropdown"><i class="material-icons">&#xE88F;</i> Help</small>
                    <div class="dropdown-menu p-3">
                        <p class="text-sm">Tracks will be used to organize the sessions in the registration form.</p><p class="text-sm mb-0">Topics can be used for further filtering of the different sessions: session organizers can assign different topics (from this list) to their session.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group mb-4">
                    <input v-model="topic.name" type="text" class="form-control" placeholder="New topic...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary pointer" @click.prevent="createTopic()" type="button" :disabled="topic.name == ''">Add</button>
                    </span>
                </div>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th colspan="3">Topics</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in topics" class="py-2 px-3 mb-2">
                            <td class="sm"><i class="material-icons">&#xE8E7;</i></td>
                            <td><input v-model.trim="item.name" @input="updateTopic(item)" type="text" class="form-control form-control-sm" placeholder="Topic name" :disabled="saving"></td>
                            <td @click.prevent="destroyTopic(item)" class="sm pointer">
                                <i class="material-icons text-danger">&#xE5CD;</i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endverbatim %}
</script>
