{% extends 'layout.html' %}

{% load crispy_forms_tags %}
{% load static %}


{% block title %}Receipt - {{ block.super }}{% endblock %}

{% block apply_now %}{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row my-5">
            <div class="col-12 col-md-2"></div>
            <div class="col-12 col-md-6">
                <h4 class="mb-4">Receipt <small>{{ registration.uuid }}</small></h4>
                <p>{{ registration.user.profile.name }} registered for {{ registration.event }} on {{ registration.created_at | date:"DATE_FORMAT" }} and paid {{ registration.paid }} EUR.</p>
                <p>Payment was done by credit card. Beneficiary of the payment:</p>
                <p class="pl-5">
                    Universiteit Gent<br>
                    Sint-Pietersnieuwstraat 25<br>
                    BE-9000, Gent<br>
                    BE0248015142
                </p>
                <p>
                    More information about {{ registration.event }} can be found on
                    <a href="{{ registration.event.website }}">{{ registration.event.website }}</a>
                </p>
                <p>Please do not hesitate to contact us for additional information.</p>
                <hr class="mt-5 mb-4">
                <p class="text-sm"><a href="{{ registration.get_absolute_url }}" class="text-secondary"><i class="material-icons mr-1">arrow_back</i>Back to registration</a></p>
            </div>
        </div>
    </div>
{% endblock %}
