$ugent-blue: #1e64c8;
$ugent-yellow: #ffd200;
$elis-purple: #6f71b9;

$primary-color: $ugent-blue;
$light-color: #eceff1;  // evan bg
$danger-color: #dc3545;  // Bootstrap default

$font-color: #37474F;  // Blue Grey 800
$font-color-light: #90A4AE;  // Blue Grey 300

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-strong: 600;

$small-breakpoint: 576px;
$medium-breakpoint: 768px;
$large-breakpoint: 992px;

$bootstrap-border-color: #dee2e6;


[v-cloak] {
    display: none !important;
}

body {
    font-family: "IBM Plex Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: $font-weight-normal;
}

.pointer,
.btn {
    cursor: pointer;
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

.ha-100 {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 93%;
}

.msg-bar {
    border-bottom: 0.5rem solid white;
}


/* Colors & logo */

.logo {
    width: 110px;
    max-width: 100%;

    &.logo-md {
        width: 70px;
        max-width: 70px;
    }

    &.logo-sm {
        width: 30px;
        max-width: 30px;
    }

    &.flipped {
        transform: rotate(180deg);
        -moz-filter: grayscale(1);
        -ms-filter: grayscale(1);
        -o-filter: grayscale(1);
        filter: grayscale(1);
    }
}


/* Typography */

h2, h3 {
  line-height: 1.35;
  margin-top: -.25rem;
}

h6 {
  text-transform: uppercase;
  font-size: smaller;
}

a {
  color: $primary-color;

  .router-link-active > & {
    font-weight: bold;
    color: $font-color;
  }

  &:hover {
    text-decoration: none;
  }

  &.inherit {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.material-icons {
    font-size: 1.1em;
    vertical-align: -17.5%;

    &.in {
        vertical-align: -20%;
    }
}


/* Footer */

.list-inline-item:not(:last-child) {
    margin-right: 1.5rem;
}


@import '_badges.scss';
@import '_forms.scss';
@import '_marked.scss';
@import '_navbar.scss';
@import '_stripe.scss';
@import '_tables.scss';
