{% extends 'layout_v2.html' %}

{% load compress %}
{% load static %}


{% block head_title %}{{ event.name }} - {{ block.super }}{% endblock %}

{% block content %}
  <div id="vars" v-cloak data-url-event="{% url 'v1:event-detail' event.code %}" data-url-user="{% url 'v1:user-detail' user.id %}" data-url-registration="{% if registration %}{% url 'v1:registration-detail' registration.uuid %}{% endif %}" class="container">

    <div class="sticky-top bg-white border-bottom mb-3">
      <div is="saving-bar" text="{{ user.username }} / {{ user.email }}"></div>
      <div class="row pt-2">
        <div class="col-12 col-md-3 col-lg-2 pb-2 pb-md-0 text-center text-md-left">
          <h4 class="m-0 pl-0 pl-md-2">{{ event.name }}</h4>
        </div>
        <div class="col-12 col-md-9 col-lg-8">
          <ul class="nav justify-content-center">
            <li is="router-link" tag="li" :to="{name: 'registration'}" class="nav-item">
              <a class="nav-link">
                <i class="d-none d-md-inline material-icons mr-1">recent_actors</i> Registration</a>
            </li>
            <li is="router-link" tag="li" :to="{name: 'event'}" class="nav-item">
              <a class="nav-link">
                <i class="d-none d-md-inline material-icons mr-1">widgets</i> Event</a>
            </li>
            <li is="router-link" tag="li" :to="{name: 'profile'}" class="nav-item">
              <a class="nav-link">
                <i class="d-none d-md-inline material-icons mr-1">account_circle</i> Your profile</a>
            </li>
            <li v-if="registration && registration.uuid" class="nav-item border-left ml-2 ml-md-3 pl-2 pl-md-3">
              <a class="nav-link" :href="registration.href_payment">
                <i class="material-icons mr-1">credit_card</i> Payment</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-lg-2 text-right d-none d-xl-block">
          <img class="logo logo-md mr-2" src="{% static 'images/evan--light.svg' %}">
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center pt-4 pt-md-5">
      <div class="col-12 col-md-9 col-lg-8 col-lg-6 mb-5">
        <div is="router-view"></div>
        <div is="router-view" name="modal"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block vue_templates %}
  {% include './v-event.html' with id='v-event' %}
  {% include './v-profile.html' with id='v-profile' %}
  {% include './v-registration.html' with id='v-registration' %}
  {% include './v-session.html' with id='v-session' %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/v-components.js' %}"></script>
{% compress js file app_create_registration %}
  <script type="text/javascript">
    var VARS = document.querySelector('#vars');

    var Store = new Vuex.Store({
      state: {
        firstDay: null,
        user: null,
        event: null,
        endpoint: VARS.dataset.urlRegistration,
        registrationIsNew: VARS.dataset.urlRegistration == '',
        registration: null,
        session: null,
      },
      mutations: {
        fetchOptions: function (state) {
          ajax().options(VARS.dataset.urlUser).then(function (res) {
            FormStore.commit('setOptions', res);
          });
        },
        fetchUser: function (state) {
          ajax().get(VARS.dataset.urlUser).then(function (res) {
            state.user = res;
          });
        },
        fetchEvent: function (state) {
          var self = this;
          ajax().get(VARS.dataset.urlEvent).then(function (res) {
            state.event = Object.freeze(mapper().events([res])[0]);
            state.replaceMainForm = _.has(res.custom_fields, "replace") && res.custom_fields.replace;
            state.firstDay = res.days[0];

            setTimeout(function () {
              self.commit('fetchEvent');
            }, 30000);
          });
        },
        fetchRegistration: function (state) {
          var self = this;

          if (!state.registrationIsNew) {
            ajax().get(state.endpoint).then(function (res) {
              state.registration = mapper().registrations([res])[0];
            });
          } else {
            state.registration = {
              fee_type: null,
              days: [],
              sessions: [],
              accompanying_persons: [],
              custom_data: {}
            };
          }
        },
        updateRegistration: function (state, data) {
          state.registration = data;
        },
        updateRegistrationCustomData: function (state, data) {
          state.registration.custom_data = data;
        },
        updateRegistrationIsNew: function (state, data) {
          state.registrationIsNew = data;
        },
        updateSession: function (state, data) {
          state.session = data;
        }
      }
    });

    var EventView = {
      template: '#v-event',
      computed: _.extend(
        Vuex.mapState(['event']), {
      }),
    };

    var ProfileView = {
      template: '#v-profile',
      computed: _.extend(
        Vuex.mapState(['user', 'event']), {
        countryName: function () {
          return this.user.profile.country.name;
        },
        hasCase: function () {
          return (/^[A-Z]*$/).test(this.user.first_name)
            || (/^[A-Z]*$/).test(this.user.last_name);
        }
      }),
      methods: {
        update: _.debounce(function () {
          EventHub.$emit('saving', true);
          if (this.user.profile.gender == 'null') this.user.profile.gender = null;
          var data = _.omit(this.user, ['username']);
          ajax().put(this.user.url, data).always(function () {
            EventHub.$emit('saving', false);
          });
        }, 250)
      }
    };

    var RegistrationView = {
      template: '#v-registration',
      data: function () {
        return {
          now: moment(),
          selectedDate: null
        };
      },
      computed: _.extend(
        Vuex.mapState(['event', 'registrationIsNew', 'registration', 'firstDay', 'replaceMainForm']), {
        showSessionsByDay: function () {
          if (!this.event || !this.regularSessions) return false;
          return this.regularSessions.length > (this.event.days.length * 2)
        },
        formIsValid: function () {
          var self = this;
          var customRequirements = [];

          if (this.event && _.has(this.event.custom_fields, 'fieldsets')) {
            _.each(this.event.custom_fields.fieldsets, function (fieldset) {
              _.each(fieldset.fields, function (field) {
                if (
                  (
                    field.mandatory
                    && _.has(self.registration.custom_data, field.id)
                    && self.registration.custom_data[field.id] === false
                  ) || (
                    field.required
                    && self.registration.custom_data[field.id] === null
                  )
                ) {
                  customRequirements.push("error");
                }
              });
            });
          }

          if (_.contains(customRequirements, "error")) {
            return false;
          }

          return this.fee
            //&& this.registration.sessions.length
            //&& this.registration.days.length
            //&& (!this.feeIsOneDay || this.registration.days.length == 1)
          ;
        },
        fee: function () {
          if (!this.event || !this.registration) return false;
          return _.findWhere(this.event.fees, {type: this.registration.fee_type});
        },
        feeIsOneDay: function () {
          if (!this.fee) return false;
          return this.fee.isOneDay;
        },
        feeIncludesSocialEvents: function () {
          if (!this.fee) return false;
          return this.fee.social_events_included;
        },
        isEarly: function () {
          if (!this.event || !this.event.registration_early_deadline) return false;
          return this.now < this.event.deadline;
        },
        fees: function () {
          if (!this.event) return [];
          var self = this;
          return this.event.fees.filter(function (obj) {
            return obj.isOneDay || obj.is_early == self.isEarly;
          });
        },
        regularSessions: function () {
          if (!this.event) return [];
          return this.event.sessions.filter(function (obj) {
            return !obj.is_social_event;
          });
        },
        socialEvents: function () {
          if (!this.event) return [];
          return this.event.sessions.filter(function (obj) {
            return obj.is_social_event;
          });
        },
        sessionDayIds: function () {
          if (
            !this.event
            || !this.registration
            || !this.registration.sessions
            || !this.registration.sessions.length
          ) return [];

          var self = this;
          var dates = _.uniq(_.pluck(this.event.sessions.filter(function (obj) {
            return self.registration.sessions.indexOf(obj.id) !== -1;
          }), 'date'));
          return _.pluck(this.event.days.filter(function (obj) {
            return dates.indexOf(obj.date) !== -1;
          }), 'id');
        },
        customFieldsets: function () {
          if (!this.registration || !this.event || _.isEmpty(this.event.custom_fields)) return [];
          var output = {};
          var fields = [];
          var self = this;

          _.each(this.fees, function (obj) {
            output[obj.type] = self.event.custom_fields.fieldsets.filter(function (o) {
              return o.target.indexOf(obj.type) !== -1;
            });
          });

          return output;
        }
      }),
      methods: {
        updateNow: function () {
          this.now = moment();
        },
        save: function () {
          var self = this;

          if (this.registrationIsNew) {
            var endpoint = VARS.dataset.urlEvent + 'register/';
            ajax().post(endpoint, this.registration).then(function (res) {
              self.$store.commit('updateRegistration', mapper().registrations([res])[0]);
              self.$store.commit('updateRegistrationIsNew', false);
            });
            /*.always(function () {
              EventHub.$emit('saving', false);
              window.scrollTo(0, 0);
            });*/
          } else {
            ajax().put(this.registration.url, this.registration).then(function (res) {
              self.$store.commit('updateRegistration', mapper().registrations([res])[0]);
            });
          }
        },
        addPerson: function () {
          this.registration.accompanying_persons.push({
            name: '',
            dietary: {
              id: 7
            },
          });
        },
        removePerson: function (person) {
          this.registration.accompanying_persons = _.without(this.registration.accompanying_persons, person);
        }
      },
      watch: {
        'event': function (val, oldVal) {
          if (oldVal == null && this.registrationIsNew && this.event && _.has(this.event.custom_fields, 'fieldsets')) {
            var data = {};

            _.each(this.event.custom_fields.fieldsets, function (fieldset) {
              _.each(fieldset.fields, function (field) {
                data[field.id] = {
                  'text': null,
                  'text_list': [],
                  'single_choice': null,
                  'multiple_choice': [],
                  'checkbox': field.default
                }[field.type];
              });
            });

            this.$store.commit('updateRegistrationCustomData', data);
          }
        },
        'firstDay': function (val, oldVal) {
          if (val) {
            this.selectedDate = val.date;
          }
        },
        'fee': function (val, oldVal) {
          /* If we switch between one day and regular registrations, social event options are removed */
          if (val && oldVal && val.social_events_included != oldVal.social_events_included) {
            this.registration.sessions = _.difference(
              this.registration.sessions,
              _.pluck(this.socialEvents, 'id')
            );
          }
        },
        'sessionDayIds': function (val) {
          if (this.registration) {
            this.registration.days = val;
          }
        }
      },
      created: function () {
        var self = this;
        if (this.firstDay) {
          this.selectedDate = this.firstDay.date;
        }
        setInterval(function () {
          self.updateNow();
        }, 1000);
      }
    };

    var SessionModalView = {
      template: '#v-session',
      data: function () {
        return {
          active: true,
        };
      },
      props: ['sessionId'],
      computed: _.extend(
        Vuex.mapState(['user', 'event', 'session']), {
      }),
      methods: {
        fetchSession: function () {
          if (!this.event) {
            var self = this;
            setTimeout(function () { self.fetchSession(); }, 25);
            return;
          }

          this.$store.commit('updateSession', _.findWhere(this.event.sessions, {id: +this.sessionId}));
        },
        closeModal: function () {
          $(this.$refs['modal']).modal('hide');
        }
      },
      beforeRouteLeave: function (to, from, next) {
        next();
        var store = this.$store;
        var modal = $(this.$refs['modal']);
        setTimeout(function () {
          if (modal.hasClass('show')) modal.modal('hide');
          store.commit('updateSession', null);
        }, 50);
      },
      mounted: function () {
        this.fetchSession();
      }
    };

    var Router = new VueRouter({
      routes: [
        {
          path: '/',
          redirect: {name: 'registration'}
        },
        {
          name: 'event',
          path: '/event/',
          pathToRegexpOptions: {strict: true},
          component: EventView
        },
        {
          name: 'profile',
          path: '/profile/',
          pathToRegexpOptions: {strict: true},
          component: ProfileView
        },
        {
          name: 'registration',
          path: '/registration/',
          pathToRegexpOptions: {strict: true},
          component: RegistrationView
        },
        {
          name: 'session',
          path: '/sessions/:sessionId/',
          pathToRegexpOptions: {strict: true},
          components: {
            default: RegistrationView,
            modal: SessionModalView
          },
          props: {
            default: true,
            modal: true
          }
        }
      ],
      linkExactActiveClass: 'active',
      scrollBehavior: function (to, from, savedPosition) {
        if (to.name == 'session' || from.name == 'session') return;
        return {x: 0, y: 0};
      }
    });

    new Vue({
      el: '#vue',
      store: Store,
      router: Router,
      computed: Vuex.mapState(['registration', 'session']),
      mounted: function () {
        this.$store.commit('fetchOptions');
        this.$store.commit('fetchEvent');
        this.$store.commit('fetchRegistration');
        this.$store.commit('fetchUser');
      }
    });
  </script>
{% endcompress %}
{% endblock %}
