{% extends 'layout.html' %}

{% load compress %}
{% load static %}


{% block head_title %}{{ event.name }} - {{ block.super }}{% endblock %}

{% block header %}
  <q-header :bordered="$q.screen.gt.sm" class="bg-grey-1 text-dark q-pl-sm">
    <q-toolbar>
      <q-btn flat round dense @click="visibleDrawer = !visibleDrawer" icon="menu"></q-btn>
      <q-toolbar-title>
        <strong>{{ event.name }}</strong>
      </q-toolbar-title>
      <evan-user-menu username="{{ user }}"></evan-user-menu>
    </q-toolbar>
  </q-header>
{% endblock %}

{% block drawer %}
  <q-drawer show-if-above v-model="visibleDrawer" side="left" :elevated="$q.screen.lt.md" class="bg-grey-1 text-weight-medium" :width="250">
    <q-scroll-area class="fit">
      <div class="q-pt-lg q-pb-xl q-pl-sm">
        <q-list :dense="$q.screen.gt.sm">
          <q-item-label header>Registration</q-item-label>
          <q-item clickable :to="{name: 'registration'}">
            <q-item-section avatar><q-icon name="assignment_turned_in"></q-icon></q-item-section>
            <q-item-section>Registration</q-item-section>
          </q-item>
          <q-item v-if="(registration && registration.self) && (event && event.allows_payments)" clickable tag="a" :href="registration.payment_url">
            <q-item-section avatar><q-icon name="credit_card"></q-icon></q-item-section>
            <q-item-section>Payment</q-item-section>
          </q-item>
          <q-item clickable :to="{name: 'profile'}">
            <q-item-section avatar><q-icon name="account_circle"></q-icon></q-item-section>
            <q-item-section>Your profile</q-item-section>
            <q-item-section side v-if="user && (user.profile.affiliation == '' || user.first_name == '' || user.last_name == '')">
              <q-icon name="error_outline" color="orange" size="xs"></q-icon>
            </q-item-section>
          </q-item>
        </q-list>
        <q-list :dense="$q.screen.gt.sm">
          <q-item-label header>About</q-item-label>
          <q-item clickable :to="{name: 'event'}">
            <q-item-section avatar><q-icon name="widgets"></q-icon></q-item-section>
            <q-item-section>Event</q-item-section>
          </q-item>
          <q-item v-if="registration && registration.self" clickable :to="{name: 'attendees'}">
            <q-item-section avatar><q-icon name="groups"></q-icon></q-item-section>
            <q-item-section>Attendees</q-item-section>
          </q-item>
        </q-list>
      </div>
    </q-scroll-area>
  </q-drawer>
{% endblock %}

{% block page %}
  <div id="vars" data-url-event="{% url 'v1:event-detail' event.code %}" data-url-attendees="{% url 'v1:event-attendees' event.code %}" data-url-user="{% url 'v1:user-detail' user.id %}" data-url-register="{% url 'v1:register-list' event.code %}" data-url-registration="{% if registration %}{% url 'v1:registration-detail' registration.uuid %}{% endif %}"></div>
  <router-view class="q-pt-lg"></router-view>
{% endblock %}

{% block vue_templates %}
  {% include './v-attendees.html' %}
  {% include './v-registration.html' %}
  {% include '../_shared_views/v-event-overview.html' %}
  {% include '../_shared_views/v-profile.html' %}
{% endblock %}

{% block scripts %}
{% compress js file app_registrations %}
  <script src="{% static 'js/components/forms.js' %}"></script>
  <script src="{% static 'js/mixins/custom_fields.js' %}"></script>
  <script src="{% static 'js/mixins/query.js' %}"></script>
  <script src="{% static 'js/mixins/event.js' %}"></script>
  <script src="{% static 'js/mixins/profile.js' %}"></script>
  <script type="text/javascript">
    var VARS = document.querySelector('#vars').dataset;

    var Store = Vuex.createStore({
      state: {
        firstDay: null,
        user: null,
        event: null,
        endpoint: VARS.urlRegistration,
        registrationIsNew: VARS.urlRegistration == '',
        registration: null,
        attendees: []
      },
      mutations: {
        getUser: function (state) {
          Evan.api.request('get', VARS.urlUser).then(function (res) {
            state.user = res.data;
          });
        },
        getAttendees: function (state) {
          var self = this;
          Evan.api.request('get', VARS.urlAttendees).then(function (res) {
            state.attendees = Object.freeze(res.data);
            setTimeout(function () {
              self.commit('getAttendees');
            }, 44000);
          });
        },
        getEvent: function (state) {
          var self = this;
          Evan.api.request('get', VARS.urlEvent).then(function (res) {
            state.event = Object.freeze(Evan.map.event(res.data));
            setTimeout(function () {
              self.commit('getEvent');
            }, 66000);
          });
        },
        getRegistration: function (state) {
          var self = this;

          if (!state.registrationIsNew) {
            Evan.api.request('get', state.endpoint).then(function (res) {
              var obj = Evan.map.registration(res.data);

              if (!_.has(obj.custom_data, 'accompanying_persons')) {
                obj.custom_data.accompanying_persons = {};
              }

              state.registration = obj;
            });
          } else {
            state.registration = {
              fee_type: null,
              visa_requested: false,
              sessions: [],
              custom_data: {
                accompanying_persons: {}
              }
            };
          }
        },
        updateRegistration: function (state, data) {
          state.registration = data;
        },
        updateRegistrationCustomData: function (state, data) {
          state.registration.custom_data = data;
        }
      }
    });

    var AttendeesView = {
      template: '#v-attendees',
      mixins: [QueryMixin],
      data: function () {
        return {
          table: {
            columns: [
              {
                name: 'name',
                field: 'name',
                align: 'left',
                label: 'Full name',
                sortable: true
              },
              {
                name: 'affiliation',
                field: 'affiliation',
                align: 'left',
                label: 'Affiliation',
                sortable: true
              },
              {
                name: 'country_name',
                field: 'country_name',
                align: 'left',
                label: 'Country',
                sortable: true
              },
              {
                name: 'contact'
              }
            ],
            pagination: {
              rowsPerPage: 25,
              sortBy: 'name',
              descending: false
            }
          }
        };
      },
      computed: _.extend(
        Vuex.mapState(['event', 'attendees']), {
        rows: function () {
          return this.attendees.map(function (obj) {
            obj.country_name = (obj.country) ? obj.country.name : '-';
            return obj;
          });
        }
      }),
      methods: {
        contactUser: function (user) {
          EventEmitter.emit('show-contact-dialog', user);
        }
      },
      created: function () {
        if (!this.attendees.length) {
          this.$store.commit('getAttendees');
        }
      }
    };

    var EventView = {
      template: '#v-event',
      mixins: [EventDatesMixin],
      computed: _.extend(
        Vuex.mapState(['event']), {
      })
    };

    var ProfileView = {
      template: '#v-profile',
      mixins: [ProfileMixin]
    };

    var RegistrationView = {
      template: '#v-registration',
      mixins: [CustomFieldsMixin],
      data: function () {
        return {
          module: 'registrations',
          createUrl: VARS.urlRegister,
          //
          dietaryOptions: EvanMetadata.getQuasarOptions('dietary'),
          now: moment(),
          selectedDate: null
        };
      },
      computed: _.extend(
        Vuex.mapState(['event', 'registration', 'firstDay']), {
        target: function () {
          if (!this.obj) return null;
          return this.obj.fee_type;
        },
        isEarly: function () {
          if (!this.event || !this.event.registration_early_deadline) return false;
          return this.event.registrationEarlyDeadline.isAfter();
        },
        fees: function () {
          if (!this.event) return [];
          var self = this;
          return this.event.fees.filter(function (obj) {
            return obj.is_early == self.isEarly;
          });
        },
        fee: function () {
          if (!this.event || !this.obj) return false;
          return _.findWhere(this.event.fees, {type: this.obj.fee_type});
        },
        feeIsOneDay: function () {
          if (!this.fee) return false;
          return this.fee.isOneDay;
        },
        feeIncludesSocialEvents: function () {
          if (!this.fee) return false;
          return this.fee.social_events_included;
        },
        formIsValid: function () {
          if (!this.obj) return false;
          var sessionsSelected = (this.replaceMainForm) ? true : this.obj.sessions.length > 0;
          return this.fee && this.customFormIsValid && sessionsSelected;
        },

        regularSessions: function () {
          if (!this.event) return [];
          return this.event.sessions.filter(function (obj) {
            return !obj.is_social_event;
          });
        },
        socialEvents: function () {
          if (!this.event) return [];
          return this.event.sessions.filter(function (obj) {
            return obj.is_social_event;
          });
        }
      }),
      methods: {
        cleanObj: function (obj) {
          _.each(obj.custom_data.accompanying_persons, function (value, key, index) {
            if (!_.contains(obj.sessions, +key)) delete obj.custom_data.accompanying_persons[key];
          });
          return obj;
        },
        updateNow: function () {
          this.now = moment();
        },
        sessionSelected: function (sessionId) {
          return _.contains(this.obj.sessions, sessionId);
        }
      },
      watch: {
        'registration': function (val) {
          if (!val) return;
          this.obj = _.clone(val);
        },
        'firstDay': function (val, oldVal) {
          if (val) {
            this.selectedDate = val.date;
          }
        },
        'fee': function (val, oldVal) {
          /* If we switch between one day and regular registrations, social event options are removed */
          if (val && oldVal && val.social_events_included != oldVal.social_events_included) {
            this.obj.sessions = _.difference(
              this.obj.sessions,
              _.pluck(this.socialEvents, 'id')
            );
          }
        }
      },
      created: function () {
        var self = this;
        this.obj = _.clone(this.registration);

        setInterval(function () {
          self.updateNow();
        }, 1000);

        if (this.firstDay) {
          this.selectedDate = this.firstDay.date;
        }
      }
    };

    var Router = VueRouter.createRouter({
      history: VueRouter.createWebHashHistory(),
      routes: [
        {
          path: '/',
          redirect: {name: 'registration'}
        },
        {
          name: 'attendees',
          path: '/event/attendees/',
          pathToRegexpOptions: {strict: true},
          component: AttendeesView
        },
        {
          name: 'event',
          path: '/event/',
          pathToRegexpOptions: {strict: true},
          component: EventView
        },
        {
          name: 'profile',
          path: '/profile/',
          pathToRegexpOptions: {strict: true},
          component: ProfileView
        },
        {
          name: 'registration',
          path: '/registration/',
          pathToRegexpOptions: {strict: true},
          component: RegistrationView
        }
      ]
    });

    var app = Vue.createApp({
      data: function () {
        return {
          visibleDrawer: true
        };
      },
      computed: Vuex.mapState(['user', 'event', 'registration', 'session']),
      created: function () {
        this.$store.commit('getEvent');
        this.$store.commit('getRegistration');
        this.$store.commit('getUser');
      }
    });

    Evan.utils.registerComponents(app, [EvanCommonComponents, EvanFormComponents]);

    app.use(Store);
    app.use(Router);
    app.use(Quasar);
    app.mount('#vue');
  </script>
{% endcompress %}
{% endblock %}
