<script type="text/x-template" id="v-attendees">
{% verbatim %}
  <div v-if="event" class="row q-col-gutter-lg items-stretch">

    <div class="col-12">
      <q-card flat class="q-pa-lg">
        <display-5>List of attendees</display-5>
        <evan-search-bar v-model="query" placeholder="Search by name, affiliation, country..." />
        <q-table :dense="$q.screen.gt.sm" row-key="id" :rows="rows || []" :columns="table.columns" :pagination="table.pagination" :filter="query">
          <template v-slot:no-data="{ icon, message, filter }">
            <evan-no-data :message="message" :filter="filter" />
          </template>
          <template v-slot:body-cell-contact="props">
            <q-td v-if="props.row.connect" auto-width :props="props" @click="contactUser(props.row)" class="cursor-pointer">
              <q-icon name="mail_outline" color="primary" />
            </q-td>
            <q-td v-else auto-width></q-td>
          </template>
        </q-table>
      </q-card>
    </div>

    <evan-contact-dialog :event-url="event.self" />

  </div>
{% endverbatim %}
</script>
