{% load static %}


<script type="text/x-template" id="{{ id }}">
{% verbatim %}
  <div v-cloak v-if="user" class="row q-col-gutter-md">

    <div class="col-12 col-md-9 col-lg-8">
      <q-card flat class="q-pa-lg">

        <h5 class="q-mt-none q-mb-lg text-weight-bold">Your profile</h5>

        <p>Please update your name and affiliation: this might be shared with other participants.</p>

        <div class="q-col-gutter-md row items-start q-mb-md">
          <q-input filled dense v-model="user.username" label="Username" disable class="col-12 col-sm-4"></q-input>
        </div>
        <div class="q-col-gutter-md row items-start q-mb-md">
          <q-input filled dense v-model="user.first_name" label="First name *" class="col-12 col-sm-4"></q-input>
          <q-input filled dense v-model="user.last_name" label="Last name *" class="col-12 col-sm-4"></q-input>
          <metadata-select v-model.number="user.profile.gender" type="gender" label="Gender" class="col-12 col-sm-4"></metadata-select>
        </div>
        <div class="q-col-gutter-md row items-start q-mb-md">
          <q-input filled dense v-model="user.profile.affiliation" label="Affiliation" class="col-12 col-sm-4"></q-input>
          <q-input filled dense v-model="user.profile.position" label="Position" class="col-12 col-sm-8"></q-input>
        </div>
        <div class="q-col-gutter-md row items-start q-mb-lg">
          <country-select v-model="user.profile.country" field="profile.children.country" label="Country *" class="col-12 col-sm-4"></country-select>
        </div>

        <p>The following information will only be used to provide you with a better experience in case a physical event is organized. We will <strong>never</strong> share your personal information with third parties.</p>

        <div class="q-col-gutter-md row items-start q-mb-lg">
          <metadata-select v-model.number="user.profile.dietary" type="meal_preference" label="Dietary requirements" class="col-12 col-sm-6"></metadata-select>
        </div>

        <!--<div v-if="event">
          <hr class="my-4">
          <div class="row">
            <div class="col-12 col-md-10">
              <small class="d-block text-grey-8 mb-2">
                <i class="material-icons mr-1">&#xE0BA;</i>Badge <strong v-if="hasCase" class="ml-2 text-danger mb-2"><i class="material-icons">&#xE645;</i>Please use Title Case for your name and affiliation</strong>
              </small>
              <div class="rounded border-semi badge">
                <table class="standard">
                  <tr>
                    <td>
                      <div class="top band" :style="{background: event.badge.color}">
                        <span>{{ event.name }}</span>
                      </div>
                      <h2 class="name">{{ user.first_name }} {{ user.last_name }}</h2>
                      <h5 class="affiliation">{{ user.profile.affiliation }}, {{ countryName }}</h5>
                      <div class="bottom band" :style="{background: event.badge.color}">
                        <span>{{ event.dates }}, {{ event.city }}</span>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>-->

        <div class="q-mt-xl">
          <q-btn unelevated
            :disabled="!user.first_name || !user.last_name"
            @click.prevent="update(user)"
            color="primary"
            label="Save profile"></q-btn>
        </div>

      </q-card>
    </div>

  </div>
{% endverbatim %}
</script>
