<script type="text/x-template" id="v-registration">
{% verbatim %}
  <div v-if="event && obj" class="row q-col-gutter-lg">

    <div class="col-12 col-md-9 col-lg-8">
      <q-card flat class="q-pa-lg">

        <div v-if="obj.self">
          <display-5>Your #{{ event.hashtag }} registration</display-5>
        </div>
        <div v-else>
          <display-5>Register now for #{{ event.hashtag }}</display-5>
          <q-banner v-if="isEarly" rounded dense class="bg-grey-2 text-grey-8">
            Early registration deadline: {{ event.registrationEarlyDeadline }}
          </q-banner>
          <q-banner v-else rounded dense class="bg-grey-2 text-grey-8">
            Registration deadline: {{ event.registrationDeadline }}
          </q-banner>
        </div>

        <div v-if="user" class="q-col-gutter-md row items-start q-mb-md">
          <q-input filled dense v-model="user.first_name" label="First name" class="col-12 col-sm-4" readonly></q-input>
          <q-input filled dense v-model="user.last_name" label="Last name" class="col-12 col-sm-8" readonly></q-input>
        </div>

        <marked v-if="event.custom_fields.registrations.help" :text="event.custom_fields.registrations.help" />

        <h6 class="q-mb-sm">Registration fee</h6>
        <p>Please select the appropriate fee. <span v-show="fees.length > 1">Students might be required to present some kind of identification. </span><strong class="text-orange">*</strong></p>

        <div v-for="fee in fees" class="custom-control custom-radio my-1">
          <q-radio v-model="obj.fee_type" :val="fee.type" :label="fee.notes + ' (' + fee.value + ' EUR)'" />
        </div>

        <div v-if="!replaceMainForm">
          <h6 class="q-mb-sm">Which sessions do you expect you will attend?</h6>
          <p>Select at least one ({{ event.start.format('LL') }} - {{ event.end.format('LL') }}). <strong class="text-orange">*</strong></p>
          <q-list dense class="q-px-none">
            <q-item v-for="session in regularSessions" class="q-pl-none">
              <q-item-section avatar class="q-px-none">
                <q-checkbox v-model="obj.sessions" :val="session.id" keep-color />
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ session.title }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>

          <div v-if="feeIncludesSocialEvents">
            <h6 class="q-mb-sm">Choose the social events you would like to attend</h6>
            <q-list dense class="q-px-none">
              <q-item v-for="session in socialEvents" class="q-pl-none">
                <q-item-section avatar class="q-px-none">
                  <q-checkbox v-model="obj.sessions" :val="session.id" keep-color />
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ session.title }} ({{ session.start.format('ddd MMM D, LT') }})</q-item-label>
                  <evan-accompanying v-if="session.extra_attendees_fee > 0 && sessionSelected(session.id)" v-model="obj.custom_data.accompanying_persons[session.id]" :label="session.title" :fee="session.extra_attendees_fee"></evan-accompanying>
                </q-item-section>
              </q-item>
            </q-list>
          </div>

        </div>

        <div v-if="obj.fee_type">
          <evan-custom-fieldsets v-model="obj" :fieldsets="fieldsets" />
        </div>

        <div>
          <h6 class="q-mb-md">Travel visa</h6>
          <q-item class="q-pl-none">
            <q-item-section avatar class="q-px-none">
              <q-checkbox v-model="obj.visa_requested" keep-color />
            </q-item-section>
            <q-item-section>
              <q-item-label>I require an Invitation Letter for my visa application</q-item-label>
            </q-item-section>
          </q-item>
        </div>

        <div class="q-mt-xl">
          <q-btn unelevated @click.prevent="createOrUpdate(obj)" :disabled="!formIsValid" :color="(formIsValid) ? 'primary' : 'orange'" :label="(obj.self) ? 'Update registration' : 'Create registration'" />
          <p class="q-mt-md text-orange" v-show="!formIsValid">
            <i class="material-icons q-mr-sm">block</i>
            <span v-if="feeIsOneDay && obj.days.length > 1">You can only attend one of the days of the event.</span>
            <strong v-else>Please select a fee and fill in mandatory fields.</strong>
          </p>
        </div>

      </q-card>
    </div>

    <div v-if="obj.self" class="col-12 col-md-3 col-lg-4 q-gutter-lg">
      <div class="q-py-lg">
        <div class="rounded-borders bg-blue-grey-1 q-py-sm q-mt-md text-body2">
          <q-list>
            <q-item>
              <q-item-section>
                <q-item-label>Registration ID</q-item-label>
                <q-item-label caption>{{ obj.uuid }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label>Last updated</q-item-label>
                <q-item-label caption>{{ obj.updated_at }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label>Total fee</q-item-label>
                <q-item-label caption>{{ obj.base_fee }} EUR <span v-if="obj.extra_fees">+ {{ obj.extra_fees }} EUR</span></q-item-label>
              </q-item-section>
              <q-item-section side top class="q-mt-sm">
                <q-badge v-if="obj.is_paid" label="PAID" color="positive" />
                <q-badge v-else label="PENDING" color="dark" />
              </q-item-section>
            </q-item>
            <q-item class="q-mt-lg">
              <q-item-section>
                <q-btn v-if="obj.is_paid" outline rounded no-caps icon="done_all" color="primary" label="View payment info" class="full-width" type="a" :href="obj.payment_url" />
                <span v-else-if="event.allows_payments">
                  <q-btn v-if="!obj.invoice_requested" outline rounded no-caps icon="credit_card" color="primary" label="Proceed with payment" class="full-width" type="a" :href="obj.payment_url" />
                  <q-btn v-else disabled outline rounded no-caps icon="notes" color="dark" label="Invoice is being prepared" class="full-width" />
                </span>
                <q-btn v-else disabled outline rounded no-caps icon="credit_card_off" color="dark" label="Payments not active yet" class="full-width" />
              </q-item-section>
            </q-item>
          </q-list>
        </div>
      </div>

    </div>

  </div>
{% endverbatim %}
</script>
