<script type="text/x-template" id="{{ id }}">
{% verbatim %}
    <div v-cloak v-if="event && registration">
        <h4 v-if="registration.uuid" class="text-secondary mb-4">Your #{{ event.hashtag }} registration<br><small><samp>{{ registration.uuid }}</samp></small>
        </h4>
        <div v-else class="text-secondary mb-4">
            <small v-if="event.registration_early_deadline">Early registration deadline: {{ event.registration_early_deadline | moment }} ({{ event.registration_early_deadline | moment('YYYY-MM-DDTHH:mm:ssZ') }})</small>
            <h4 class="text-secondary mb-4">Register now for #{{ event.hashtag }}</h4>
        </div>
        <div v-if="registration.uuid" class="alert alert-warning clearfix p-2 text-sm">
            <a v-if="registration.isPaid" :href="registration.href_payment">
                <i class="material-icons sm mr-1">info</i>
                <span>View payment info</span>
            </a>
            <span v-else>
                <a v-if="!registration.invoice_requested" :href="registration.href_payment">
                    <i class="material-icons sm mr-1">credit_card</i> Proceed with payment</a>
                <button v-else class="float-right btn btn-outline-secondary" disabled>
                    <i class="material-icons sm mr-1">info</i> Invoice is being prepared</button>
            </span>
        </div>
        <div class="form-group">
            <h6 class="mt-4 mb-3">Select fee <small class="text-danger">*</small></h6>
            <div v-for="fee in fees" class="custom-control custom-radio my-1">
                <input type="radio" v-model="registration.fee_type" :value="fee.type" class="custom-control-input" :id="'fee' + fee.id">
                <label class="custom-control-label" :for="'fee' + fee.id">{{ fee.notes }} ({{ fee.value }} EUR) <span v-if="!fee.social_events_included" class="text-danger text-smr"><i class="material-icons mr-1">block</i>Social events not available</span></label>
            </div>
        </div>
        <div class="form-group">
            <h6 class="mt-4 mb-3">Travel visa</h6>
            <div class="custom-control custom-checkbox my-1">
                <input type="checkbox" v-model="registration.visa_requested" class="custom-control-input" id="visa_requested">
                <label class="custom-control-label" for="visa_requested">I require an Invitation Letter for my visa application</label>
            </div>
        </div>
        <div class="form-group">
            <h6 class="mt-4 mb-3">Choose the sessions you would like to attend <small class="text-danger">*</small><small class="text-info d-block mt-1">Select at least one.</small></h6>
            <div v-if="showSessionsByDay">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link pointer" v-for="day in event.days" :key:="day.id" @click="selectedDate = day.date" :class="{'active': day.date == selectedDate}">{{ day.date | moment('ddd') }}</a>
                    </div>
                </nav>
                <div class="border border-top-0 rounded-bottom bg-white p-3">
                    <div v-for="session in regularSessions" :key="session.id" v-show="session.date == selectedDate" class="custom-control custom-checkbox my-1">
                        <input type="checkbox" v-model="registration.sessions" :value="session.id" class="custom-control-input" :id="'session' + session.id">
                        <label class="custom-control-label" :for="'session' + session.id">{{ session.title }} </label>&nbsp;<router-link :to="{name: 'session', params: {sessionId: session.id}}">[+]</router-link></label>
                    </div>
                </div>
            </div>
            <div v-else>
                <div v-for="session in regularSessions" :key="session.id" class="custom-control custom-checkbox my-1">
                    <input type="checkbox" v-model="registration.sessions" :value="session.id" class="custom-control-input" :id="'session' + session.id">
                    <label class="custom-control-label" :for="'session' + session.id">{{ session.niceDate }}: {{ session.title }} </label>&nbsp;<router-link :to="{name: 'session', params: {sessionId: session.id}}">[+]</router-link>
                </div>
            </div>
        </div>
        <div v-if="feeIncludesSocialEvents">
            <h6 class="mt-4 mb-3">Choose the social events you would like to attend</h6>
            <div v-for="session in socialEvents" :key="session.id" class="custom-control custom-checkbox my-1">
                <input type="checkbox" v-model="registration.sessions" :value="session.id" class="custom-control-input" :id="'session' + session.id">
                <label class="custom-control-label" :for="'session' + session.id">{{ session.title }} ({{ session.date | moment('dddd') }}) </label>&nbsp;<router-link :to="{name: 'session', params: {sessionId: session.id}}">[+]</router-link>
            </div>
            <h6 class="mt-4 mb-3">Accompanying persons<small v-if="event.social_event_bundle_fee > 0" class="text-info d-block mt-1">Accompanying persons can attend the social event(s) for an extra fee of <strong>{{ event.social_event_bundle_fee }} EUR</strong> per person.</small></h6>
            <p v-if="!registration.accompanying_persons.length" class="text-sm">
                <a href @click.prevent="addPerson"><i class="material-icons sm mr-1">add</i>Click here</a> if you want to add an accompanying person for this event.</p>
            <table v-else class="table table-sm">
                <thead>
                    <tr class="text-sm">
                        <th>Name</th>
                        <th>Dietary requirements</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="person in registration.accompanying_persons">
                        <td class="pl-0">
                            <input v-model="person.name" class="form-control form-control-sm" placeholder="Person's name">
                        </td>
                        <td>
                            <metadata-select v-model="person.dietary" type="meal_preference" :sm="true"></metadata-select>
                        </td>
                        <td class="sm"><a href @click.prevent="removePerson(person)" class="text-danger"><i class="material-icons mt-1">remove_circle</i></a></td>
                    </tr>
                </tbody>
                <tfoot>
                    <small><a href @click.prevent="addPerson"><i class="material-icons sm mr-1">add</i>Add another person</a></small>
                </tfoot>
            </table>
        </div>
        <div class="form-group">
            <hr class="my-4">
            <h6 class="mt-4 mb-3">Days you will attend (automatic)<small class="text-danger">*</small><small class="text-info d-block mt-1" v-if="feeIsOneDay" :class="{'text-danger': feeIsOneDay && registration.days.length > 1}">You have selected the one day fee. You can only attend one of the days of the event.</small></h6>
            <div v-for="day in event.days" class="custom-control custom-checkbox custom-control-inline my-1">
                <input type="checkbox" v-model="registration.days" :value="day.id" class="custom-control-input" :id="'day' + day.id" disabled>
                <label class="custom-control-label" :for="'day' + day.id">{{ day.niceDate }}<span v-if="day.name">: {{ day.name }}</span></label>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 my-4">
                <button @click.prevent="save" class="btn btn-secondary btn-block" :disabled="!formIsValid" :class="{'btn-primary': formIsValid}">Save</button>
                <p class="mt-3 mb-0 text-danger text-smr" v-show="!formIsValid">
                    <i class="material-icons mr-1">block</i>
                    <span v-if="feeIsOneDay && registration.days.length > 1">You can only attend one of the days of the event.</span>
                    <span v-else>Please select a fee and at least one session.</span>
                </p>
            </div>
        </div>
        <div v-if="!registrationIsNew">
            <hr class="my-4">
            <ul class="text-sm text-secondary m-0 list-unstyled">
                <li>Registration ID: {{ registration.uuid }}</li>
                <li>Total fee: {{ registration.base_fee }} EUR <span v-if="registration.extra_fees">+ {{ registration.extra_fees }} EUR</span></li>
                <li>Last updated: {{ registration.updated_at | moment('YYYY-MM-DDTHH:mm:ssZ') }}</li>
                <li v-if="registration.uuid" class="mt-1">
                    <a :href="registration.href_payment"><i class="material-icons sm mr-1">credit_card</i>Payment information</a>
                </li>
            </a>
            </ul>
        </div>
    </div>
{% endverbatim %}
</script>
