{% extends 'layout.html' %}

{% load compress %}
{% load static %}


{% block head_title %}Dashboard - {{ block.super }}{% endblock %}

{% block header %}
  <q-header class="bg-ugent text-white q-pl-sm">
    <q-toolbar>
      <q-btn flat round dense @click="visibleDrawer = !visibleDrawer" icon="menu"></q-btn>
      <q-toolbar-title>
        <evan-logo fill="#ffffff" :width="45"></evan-logo>
      </q-toolbar-title>
      <evan-user-menu username="{{ user }}"></evan-user-menu>
    </q-toolbar>
  </q-header>
{% endblock %}

{% block drawer %}
  <q-drawer show-if-above v-model="visibleDrawer" side="left" :elevated="$q.screen.lt.md" class="bg-grey-1 text-weight-medium" :width="250">
    <q-scroll-area class="fit">
      <div class="q-pt-lg q-pb-xl q-pl-sm">
        <q-list :dense="$q.screen.gt.sm">
          <q-item-label header>Dashboard</q-item-label>
          <q-item clickable :to="{name: 'registrations'}">
            <q-item-section avatar><q-icon name="folder_shared"></q-icon></q-item-section>
            <q-item-section>Your registrations</q-item-section>
          </q-item>
          <q-item clickable :to="{name: 'events'}">
            <q-item-section avatar><q-icon name="widgets"></q-icon></q-item-section>
            <q-item-section>Your events</q-item-section>
          </q-item>
        </q-list>
        <q-list :dense="$q.screen.gt.sm">
          <q-item-label header>Account</q-item-label>
          <q-item clickable :to="{name: 'profile'}">
            <q-item-section avatar><q-icon name="account_circle"></q-icon></q-item-section>
            <q-item-section>Your profile</q-item-section>
          </q-item>
          <q-item tag="a" href="{% url 'account_change_password' %}">
            <q-item-section avatar><q-icon name="vpn_key"></q-icon></q-item-section>
            <q-item-section>Password</q-item-section>
          </q-item>
          <q-item tag="a" href="{% url 'account_email' %}">
            <q-item-section avatar><q-icon name="mail_outline"></q-icon></q-item-section>
            <q-item-section>Emails</q-item-section>
          </q-item>
          <q-item tag="a" href="{% url 'socialaccount_connections' %}">
            <q-item-section avatar><q-icon name="extension"></q-icon></q-item-section>
            <q-item-section>Social accounts</q-item-section>
          </q-item>
        </q-list>
      </div>
    </q-scroll-area>
  </q-drawer>
{% endblock %}

{% block page %}
  <div id="vars" data-url-user="{% url 'v1:user-detail' user.id %}" data-url-events="{% url 'v1:user-events' %}" data-url-registrations="{% url 'v1:user-registrations' %}"></div>
  <router-view></router-view>
{% endblock %}

{% block vue_templates %}
  {% include './v-events.html' %}
  {% include './v-registrations.html' %}
  {% include '../_shared_views/v-profile.html' %}
{% endblock %}

{% block scripts %}
{% compress js file dashboard %}
  <script src="{% static 'js/components/forms.js' %}"></script>
  <script src="{% static 'js/mixins/event_related.js' %}"></script>
  <script src="{% static 'js/mixins/query.js' %}"></script>
  <script src="{% static 'js/mixins/profile.js' %}"></script>
  <script type="text/javascript">
    var VARS = document.querySelector('#vars').dataset;

    var Store = Vuex.createStore({
      state: {
        user: null,
        events: [],
        registrations: []
      },
      mutations: {
        getEvents: function (state) {
          Evan.api.request('get', VARS.urlEvents).then(function (res) {
            state.events = res.data;
          });
        },
        getRegistrations: function (state) {
          Evan.api.request('get', VARS.urlRegistrations).then(function (res) {
            state.registrations = Object.freeze(res.data.map(function (obj) {
              return Evan.map.registration(obj);
            }));
          });
        },
        getUser: function (state) {
          Evan.api.request('get', VARS.urlUser).then(function (res) {
            state.user = res.data;
            Quasar.Loading.hide();
          });
        }
      }
    });

    var EventsView = {
      template: '#v-events',
      mixins: [QueryMixin],
      data: function () {
        return {
          table: {
            columns: [
              {
                name: 'href'
              },
              {
                name: 'code',
                field: 'code',
                sortable: true,
                align: 'left',
                label: 'Code'
              },
              {
                name: 'name',
                field: 'name',
                sortable: true,
                align: 'left',
                label: 'Name'
              },
              {
                name: 'registrations_count',
                field: 'registrations_count',
                label: 'Registrations',
                classes:'q-table--col-auto-width'
              },
              {
                name: 'start_date',
                field: 'start_date',
                sortable: true,
                align: 'left',
                label: 'Start',
                classes:'q-table--col-auto-width'
              },
              {
                name: 'end_date',
                field: 'end_date',
                sortable: true,
                align: 'left',
                label: 'End',
                classes:'q-table--col-auto-width'
              },
            ],
            pagination: {
              rowsPerPage: 25,
              sortBy: 'start_date',
              descending: true
            }
          }
        };
      },
      computed: _.extend(
        Vuex.mapState(['events']), {
      }),
      methods: {
        openUrl: function (e, row) {
          window.location.replace(row.url);
        }
      }
    };

    var ProfileView = {
      template: '#v-profile',
      mixins: [ProfileMixin]
    };

    var RegistrationsView = {
      template: '#v-registrations',
      mixins: [QueryMixin, EventRelatedMixin],
      data: function () {
        return {
          table: {
            columns: [
              {
                name: 'href'
              },
              {
                name: 'uuid',
                field: 'uuid',
                sortable: true,
                label: 'ID',
                align: 'left',
              },
              {
                name: 'event_name',
                field: 'event_name',
                sortable: true,
                label: 'Event',
                align: 'left',
              },
              {
                name: 'created_at',
                field: 'created_at',
                sortable: true,
                align: 'left',
                label: 'Date'
              },
              {
                name: 'payment_status',
                align: 'center',
                label: 'Paid'
              }
            ],
            pagination: {
              rowsPerPage: 25,
              sortBy: 'created_at',
              descending: true
            }
          }
        };
      },
      computed: _.extend(
        Vuex.mapState(['registrations']), {
        rows: function () {
          return this.registrations.map(function (obj) {
            obj.event_name = obj.event.name;
            return obj;
          });
        }
      })
    };

    var Router = VueRouter.createRouter({
      history: VueRouter.createWebHashHistory(),
      routes: [
        {
          path: '/',
          redirect: {name: 'registrations'}
        },
        {
          name: 'events',
          path: '/events/',
          pathToRegexpOptions: {strict: true},
          component: EventsView
        },
        {
          name: 'profile',
          path: '/profile/',
          pathToRegexpOptions: {strict: true},
          component: ProfileView
        },
        {
          name: 'registrations',
          path: '/registrations/:uuid?/',
          pathToRegexpOptions: {strict: true},
          component: RegistrationsView,
          props: function (route) {
            return {
              uuid: route.params.uuid
            };
          }
        }
      ]
    });

    var app = Vue.createApp({
      data: function () {
        return {
          visibleDrawer: true
        };
      },
      created: function () {
        this.$q.loading.show();
        this.$store.commit('getUser');
        this.$store.commit('getEvents');
        this.$store.commit('getRegistrations');
      }
    });

    Evan.utils.registerComponents(app, [EvanCommonComponents, EvanFormComponents]);

    app.use(Store);
    app.use(Router);
    app.use(Quasar);
    app.mount('#vue');
  </script>
{% endcompress %}
{% endblock %}
