<script type="text/x-template" id="v-registrations">
{% verbatim %}
  <div>

    <q-card flat class="q-pa-lg">
      <display-5>Registrations</display-5>
      <q-input filled dense v-model="query" placeholder="Search by ID, event name..." type="search" class="q-mb-md">
        <template v-slot:prepend>
          <q-icon name="search" />
        </template>
        <template v-slot:append>
          <q-icon v-if="query !== ''" name="close" @click="query = ''" class="cursor-pointer" />
        </template>
      </q-input>
      <q-table dense row-key="uuid" :rows="items" :columns="table.columns" :pagination="table.pagination" :filter="query" @row-click="openUrl">
        <template v-slot:no-data="{ icon, message, filter }">
          <evan-no-data :message="message" :filter="filter" />
        </template>
        <template v-slot:body-cell-href="props">
          <q-td auto-width>
            <q-icon name="outbond" color="primary"></q-icon>
          </q-td>
        </template>
        <template v-slot:body-cell-uuid="props">
          <q-td auto-width :props="props">
            <samp><small>{{ props.row.uuid }}</small></samp>
          </q-td>
        </template>
        <template v-slot:body-cell-created_at="props">
          <q-td auto-width :props="props">{{ props.row.date }}</q-td>
        </template>
        <template v-slot:body-cell-payment_status="props">
          <q-td auto-width :props="props" class="items-center">
            <evan-yes-chip v-if="props.row.is_paid" />
            <evan-no-chip v-else />
          </q-td>
        </template>
      </q-table>
    </q-card>

  </div>
{% endverbatim %}
</script>
