<script type="text/x-template" id="v-reviews">
{% verbatim %}
  <div v-if="event && event.config.abstracts">

    <q-card flat class="q-pa-lg">
      <div class="row no-wrap q-mb-sm">
        <display-5>Abstracts to review</display-5>
      </div>

      <evan-search-bar v-model="query" placeholder="Search by ID, author, title..." />
      <q-table :dense="$q.screen.gt.sm" row-key="uuid" :rows="reviews || []" :columns="table.columns" :pagination="table.pagination" :filter="query" :filter-method="customFilter" @row-click="function (e, row) { cloneObj(row) }">
        <template v-slot:no-data="{ icon, message, filter }">
          <evan-no-data :message="message" :filter="filter" />
        </template>
        <template v-slot:body-cell-view="props">
          <q-td auto-width :props="props">
            <q-icon name="visibility" color="primary" />
          </q-td>
        </template>
        <template v-slot:body-cell-title="props">
          <q-td :props="props">
            <div class="ellipsis" style="min-width:200px; max-width:25vw">{{ props.row.abstract.title }}</div>
          </q-td>
        </template>
        <template v-slot:body-cell-user_name="props">
          <q-td auto-width :props="props">{{ props.row.abstract.user_name }}</q-td>
        </template>
        <template v-slot:body-cell-user_affiliation="props">
          <q-td auto-width :props="props">{{ props.row.abstract.user_affiliation }}</q-td>
        </template>
        <template v-slot:body-cell-score="props">
          <q-td auto-width :props="props">
            <span><span v-if="props.row.score">{{ props.row.score }}</span><span v-else>-</span> / {{ event.custom_data.abstracts.review_criteria.length * 5 }}</span>
          </q-td>
        </template>
        <template v-slot:body-cell-created_at="props">
          <q-td auto-width :props="props">{{ props.row.abstract.date }}</q-td>
        </template>
        <template v-slot:body-cell-is_reviewed="props">
          <q-td auto-width :props="props" class="items-center">
            <evan-yes-chip v-if="props.row.is_reviewed" />
            <evan-no-chip v-else />
          </q-td>
        </template>
      </q-table>

      <evan-editor size="lg" :obj="obj">
        <q-list v-if="obj.abstract" dense>
          <q-item>
            <q-item-section avatar><q-icon name="accessibility_new" /></q-item-section>
            <q-item-section><strong>{{ obj.abstract.user_name }}</strong></q-item-section>
          </q-item>
          <q-separator inset="item"></q-separator>
          <q-item>
            <q-item-section avatar><q-icon name="mail_outline" /></q-item-section>
            <q-item-section>{{ obj.abstract.user.email }}</q-item-section>
            <q-item-section side>
              <evan-copy-icon :text="obj.abstract.user.email" size="14px" />
            </q-item-section>
          </q-item>
          <q-separator inset="item"></q-separator>
          <q-item>
            <q-item-section avatar><q-icon name="business" /></q-item-section>
            <q-item-section>{{ obj.abstract.user_affiliation }}</q-item-section>
          </q-item>
          <q-separator v-if="obj.abstract.user.profile.country" inset="item" />
          <q-item v-if="obj.abstract.user.profile.country">
            <q-item-section avatar>
              <country-flag :code="obj.abstract.user.profile.country.code"></country-flag>
            </q-item-section>
            <q-item-section>{{ obj.abstract.user.profile.country.name }}</q-item-section>
          </q-item>
          <q-separator inset="item"></q-separator>
          <q-item>
            <q-item-section avatar><q-icon name="label_important_outline" /></q-item-section>
            <q-item-section>
              <q-item-label><q-badge v-for="tag in obj.abstract._tags" rounded outline color="dark" class="q-mr-sm">{{ tag }}</q-badge></q-item-label>
            </q-item-section>
          </q-item>
          <q-separator inset="item"></q-separator>
        </q-list>
        <q-list dense>
          <template v-for="file in obj.abstract.files">
            <q-item>
              <q-item-section avatar><q-icon name="attachment" /></q-item-section>
              <q-item-section class="ellipsis"><a :href="file.url" target="_blank" rel="noopener" class="inherit">{{ file.url }}</a></q-item-section>
              <q-item-section side>
                <evan-copy-icon :text="file.url" size="14px" />
              </q-item-section>
            </q-item>
            <q-separator inset="item"></q-separator>
          </template>
          <q-item class="q-mb-md">
            <q-item-section avatar><q-icon name="notes" /></q-item-section>
            <q-item-section class="q-pt-md">
              <p class="text-serif text-body2 q-mb-xs"><em>{{ obj.abstract.title }}</em></p>
              <p class="text-serif text-sm q-mb-md">{{ obj.abstract.authors }}</p>
              <marked :text="obj.abstract.abstract" class="text-caption" />
            </q-item-section>
          </q-item>
        </q-list>
        <q-list dense>
          <q-separator inset="item" class="q-my-lg"></q-separator>
          <q-item>
            <q-item-section avatar top><q-icon name="reviews" class="q-mt-sm" /></q-item-section>
            <q-item-section>
              <div class="row q-col-gutter-md">
                <div v-for="crit in event.custom_data.abstracts.review_criteria" class="col-12 col-md text-body2">
                  <small>{{ crit }}</small>
                  <q-rating no-reset v-model="obj.custom_data.ratings[crit]" size="xs" :max="5" color="grey" color-selected="grey-8" class="q-mr-sm" icon="star_border" icon-selected="star" />
                </div>
                <div class="col-12">
                  <q-input dense filled autogrow bottom-slots type="textarea" v-model="obj.evaluation" label="Internal evaluation">
                    <template v-slot:hint><strong>Required.</strong> These comments will only be visible to the program committee.</template>
                  </q-input>
                </div>
              </div>
            </q-item-section>
          </q-item>
          <q-separator inset="item" class="q-my-lg"></q-separator>
          <q-item class="q-mt-sm">
            <q-item-section avatar top><q-icon name="chat_bubble_outline" class="q-mt-sm" /></q-item-section>
            <q-item-section class="q-pt-xs">
              <div class="row q-col-gutter-md">
                <div class="col-12">
                  <q-input dense filled autogrow bottom-slots type="textarea" v-model="obj.comments" label="General comments">
                    <template v-slot:hint>Optional. These can be shared with the applicant by the program committee.</template>
                  </q-input>
                </div>
              </div>
            </q-item-section>
          </q-item>
        </q-list>

        <template v-slot:buttons>
          <q-btn @click="saveReview(obj)" :disable="!obj.evaluation" unelevated label="Save" color="primary" class="q-px-md" />
        </template>
      </evan-editor>

    </q-card>

  </div>
{% endverbatim %}
</script>
