{% extends 'layout.html' %}

{% load compress %}
{% load static %}


{% block head_title %}{{ event.name }} - {{ block.super }}{% endblock %}

{% block header %}
  <q-header :bordered="$q.screen.gt.sm" class="bg-grey-1 text-dark q-pl-sm">
    <q-toolbar>
      <q-btn flat round dense @click="visibleDrawer = !visibleDrawer" icon="menu"></q-btn>
      <q-toolbar-title>
        <strong>{{ event.name }}</strong>
      </q-toolbar-title>
      <q-space></q-space>
      <evan-user-menu username="{{ user }}"></evan-user-menu>
    </q-toolbar>
  </q-header>
{% endblock %}

{% block drawer %}
  <q-drawer show-if-above v-model="visibleDrawer" side="left" :elevated="$q.screen.lt.md" class="bg-grey-1 q-pt-lg q-pl-sm text-weight-medium" :width="250">
    <q-scroll-area class="fit">
      <q-list dense>
        <q-item-label header>Abstract submission</q-item-label>
        <q-item clickable :to="{name: 'abstract'}">
          <q-item-section avatar><q-icon name="text_snippet"></q-icon></q-item-section>
          <q-item-section>Abstract</q-item-section>
        </q-item>
        <q-item clickable :to="{name: 'profile'}">
          <q-item-section avatar><q-icon name="account_circle"></q-icon></q-item-section>
          <q-item-section>Your profile</q-item-section>
          <q-item-section side v-if="user && (user.profile.affiliation == '' || user.first_name == '' || user.last_name == '')">
            <q-icon name="error_outline" color="orange" size="xs"></q-icon>
          </q-item-section>
        </q-item>
      </q-list>
      <q-list dense>
        <q-item-label header>About</q-item-label>
        <q-item clickable :to="{name: 'event'}">
          <q-item-section avatar><q-icon name="widgets"></q-icon></q-item-section>
          <q-item-section>Event</q-item-section>
        </q-item>
      </q-list>
    </q-scroll-area>
  </q-drawer>
{% endblock %}

{% block page %}
  <div id="vars" data-url-event="{% url 'v1:event-detail' event.code %}" data-url-user="{% url 'v1:user-detail' user.id %}" data-url-submit-abstract="{% url 'v1:submit_abstract-list' event.code %}" data-url-abstract="{% if abstract %}{% url 'v1:abstract-detail' abstract.uuid %}{% endif %}"></div>
  <router-view class="q-pt-lg"></router-view>
{% endblock %}

{% block vue_templates %}
  {% include './v-abstract.html' %}
  {% include '../_shared_views/v-event-overview.html' %}
  {% include '../_shared_views/v-profile.html' %}
{% endblock %}

{% block scripts %}
{% compress js file app_abstracts %}
  <script src="{% static 'js/components/forms.js' %}"></script>
  <script src="{% static 'js/mixins/custom_fields.js' %}"></script>
  <script src="{% static 'js/mixins/event.js' %}"></script>
  <script src="{% static 'js/mixins/profile.js' %}"></script>
  <script src="{% static 'js/mixins/uploader.js' %}"></script>
  <script type="text/javascript">
    var VARS = document.querySelector('#vars').dataset;

    var Store = Vuex.createStore({
      state: {
        user: null,
        event: null,
        abstract: null
      },
      mutations: {
        getUser: function (state) {
          Evan.api.request('get', VARS.urlUser).then(function (res) {
            state.user = res.data;
          });
        },
        getEvent: function (state) {
          var self = this;
          Evan.api.request('get', VARS.urlEvent).then(function (res) {
            state.event = Object.freeze(Evan.map.event(res.data));
            state.replaceMainForm = _.has(res.data.custom_fields, "replace") && res.data.custom_fields.replace;

            setTimeout(function () {
              self.commit('getEvent');
            }, 45000);
          });
        },
        getAbstract: function (state) {
          var self = this;
          var endpoint = VARS.urlAbstract;

          if (endpoint) {
            Evan.api.request('get', endpoint).then(function (res) {
              state.abstract = res.data;
            });
          } else {
            state.abstract = {
              custom_data: {}
            };
          }
        },
        updateAbstract: function (state, data) {
          state.abstract = data;
        }
      }
    });

    var AbstractView = {
      template: '#v-abstract',
      mixins: [CustomFieldsMixin, UploaderMixin],
      data: function () {
        return {
          module: 'abstracts',
          createUrl: VARS.urlSubmitAbstract
        };
      },
      computed: _.extend(
        Vuex.mapState(['user', 'event', 'abstract']), {
        formIsValid: function () {
          if (!this.obj) return false;
          return this.obj.title && this.obj.authors && this.obj.abstract && this.customFormIsValid;
        },
        maxFiles: function () {
          return this.event.config.abstracts.uploader.max_files || 0;
        },
        maxFileSize: function () {
          return this.event.config.abstracts.uploader.max_file_size * 1024 || 0;  // TODO: Quasar Uploader bug
        }
      }),
      methods: {
        removeFile: function (file) {
          this.obj.files = _.reject(_.clone(this.obj.files), function (f) {
            return f.url == file.url;
          });
        },
        updateObj: function (obj) {
          this.obj = obj;
        }
      },
      watch: {
        'abstract': function (val) {
          if (!val) return;
          this.obj = _.clone(val);
        }
      },
      created: function () {
        this.obj = _.clone(this.abstract);
        EventEmitter.on('evan-file-removed', this.removeFile);
      },
      beforeUnmount: function () {
        EventEmitter.off('evan-file-removed');
      }
    };

    var EventView = {
      template: '#v-event',
      mixins: [EventDatesMixin],
      computed: _.extend(
        Vuex.mapState(['event']), {
      })
    };

    var ProfileView = {
      template: '#v-profile',
      mixins: [ProfileMixin],
      computed: _.extend(
        Vuex.mapState(['user', 'event']), {
      })
    };

    var Router = VueRouter.createRouter({
      history: VueRouter.createWebHashHistory(),
      routes: [
        {
          path: '/',
          redirect: {name: 'abstract'}
        },
        {
          name: 'abstract',
          path: '/abstract/',
          pathToRegexpOptions: {strict: true},
          component: AbstractView
        },
        {
          name: 'event',
          path: '/event/',
          pathToRegexpOptions: {strict: true},
          component: EventView
        },
        {
          name: 'profile',
          path: '/profile/',
          pathToRegexpOptions: {strict: true},
          component: ProfileView
        }
      ]
    });

    var app = Vue.createApp({
      data: function () {
        return {
          visibleDrawer: true
        };
      },
      computed: Vuex.mapState(['user']),
      created: function () {
        this.$store.commit('getUser');
        this.$store.commit('getEvent');
        this.$store.commit('getAbstract');
      }
    });

    Evan.utils.registerComponents(app, [EvanCommonComponents, EvanFormComponents]);

    app.use(Store);
    app.use(Router);
    app.use(Quasar);
    app.mount('#vue');
  </script>
{% endcompress %}
{% endblock %}
