<script type="text/x-template" id="v-abstract">
{% verbatim %}
  <div v-if="event && event.config.abstracts && obj" class="row q-col-gutter-lg items-stretch">

    <div class="col-12 col-md-8">
      <q-card flat class="q-pa-lg full-height">
        <display-5>Abstract submission</display-5>
        <marked v-if="event.config.abstracts.help" :text="event.config.abstracts.help" />

        <div class="q-mt-lg q-gutter-md">
          <q-input filled dense v-model="obj.title" label="Title *" />
          <q-input filled dense v-model="obj.authors" label="Authors *" autogrow />
          <q-input filled dense v-model="obj.abstract" type="textarea" label="Abstract *" />
          <evan-custom-fieldsets v-model="obj" :fieldsets="fieldsets" :event="event" />
        </div>

        <div class="q-mt-xl">
          <q-btn unelevated @click.prevent="createOrUpdate(obj)" :disable="!formIsValid" :color="(formIsValid) ? 'primary' : 'orange'" :label="(obj.self) ? 'Update abstract' : 'Submit abstract'"></q-btn>
          <p class="q-mt-md text-orange" v-show="!formIsValid">
            <i class="material-icons q-mr-sm">block</i>
            <strong>Please fill in mandatory fields.</strong>
          </p>
        </div>

      </q-card>
    </div>

    <div v-if="obj.self && event.config.abstracts.uploader" class="col-12 col-md-4">
      <q-card flat class="q-pa-lg full-height">
        <display-5>Files</display-5>
        <evan-file-list :files="obj.files" />
        <div class="rounded-borders" v-show="obj.files.length < event.config.abstracts.uploader.max_files">
          <q-uploader ref="uploader" flat auto-upload :factory="uploaderFactory" :accept="event.config.abstracts.uploader.accept" :max-files="maxFiles" :max-file-size="maxFileSize" @failed="uploadFailed" @rejected="uploadRejected" @uploaded="uploaded" :label="event.config.abstracts.uploader.label" color="dark" class="full-width bg-grey-2" />
        </div>
      </q-card>
    </div>

  </div>
{% endverbatim %}
</script>
