<script type="text/x-template" id="v-event">
{% verbatim %}
  <div v-if="event" class="row q-col-gutter-lg items-stretch">

    <div class="col-12 col-md-8">
      <q-card flat class="q-pa-lg full-height">
        <div class="row no-wrap">
          <display-5>Event information</display-5>
          <q-space />
          <a v-if="event.website" :href="event.website" target="_blank" rel="noopener" class="q-mr-sm">
            <q-btn no-caps outline rounded color="primary" label="Open website"></q-btn>
          </a>
          <a v-if="event.website" :href="'https://twitter.com/search?q=%23' + event.hashtag" target="_blank" rel="noopener">
            <q-btn no-caps outline rounded color="light-blue" label="Twitter"></q-btn>
          </a>
        </div>
        <h5 class="q-my-md">{{ event.name }}: {{ event.full_name }}</h5>
        <marked :text="event.presentation" class="q-mt-lg"></marked>
      </q-card>
    </div>

    <div class="col-12 col-md q-gutter-lg">

        <div v-if="dates.length">
          <q-card flat class="q-pa-lg">
            <display-5>Important dates</display-5>
            <q-list class="q-mt-sm">
              <q-item v-for="date in dates" class="evan-px-none">
                <q-item-section>
                  <q-item-label caption>{{ date.formatted }}</q-item-label>
                  <q-item-label>{{ date.label }}</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-card>
        </div>

        <div v-if="event.venues.length">
          <q-card flat class="q-pa-lg">
            <display-5>Venues</display-5>
            <q-list class="q-mt-sm">
              <q-item v-for="venue in event.venues" class="evan-px-none">
                <q-item-section>
                  <q-item-label>{{ venue.name }}</q-item-label>
                  <q-item-label caption v-if="venue.is_main">Main venue</q-item-label>
                </q-item-section>
                <q-item-section side>
                  <div class="q-gutter-sm">
                    <q-btn :disable="!venue.gmaps" flat round dense icon="place" type="a" :href="venue.gmaps" target="_blank" rel="noopener" />
                    <q-btn :disable="!venue.website" flat round dense icon="language" type="a" :href="venue.website" target="_blank" rel="noopener" />
                  </div>
                </q-item-section>
              </q-item>
            </q-list>
          </q-card>
        </div>

    </div>

  </div>
{% endverbatim %}
</script>
